$icomoon-font-family: "ionicon" !default;
$icomoon-font-path: "fonts" !default;

$ionicon-accessibility: "\e900";
$ionicon-accessibility-outline: "\e901";
$ionicon-accessibility-sharp: "\e902";
$ionicon-add: "\e903";
$ionicon-add-circle: "\e904";
$ionicon-add-circle-outline: "\e905";
$ionicon-add-circle-sharp: "\e906";
$ionicon-add-outline: "\e907";
$ionicon-add-sharp: "\e908";
$ionicon-airplane: "\e909";
$ionicon-airplane-outline: "\e90a";
$ionicon-airplane-sharp: "\e90b";
$ionicon-alarm: "\e90c";
$ionicon-alarm-outline: "\e90d";
$ionicon-alarm-sharp: "\e90e";
$ionicon-albums: "\e90f";
$ionicon-albums-outline: "\e910";
$ionicon-albums-sharp: "\e911";
$ionicon-alert: "\e912";
$ionicon-alert-circle: "\e913";
$ionicon-alert-circle-outline: "\e914";
$ionicon-alert-circle-sharp: "\e915";
$ionicon-alert-outline: "\e916";
$ionicon-alert-sharp: "\e917";
$ionicon-american-football: "\e918";
$ionicon-american-football-outline: "\e919";
$ionicon-american-football-sharp: "\e91a";
$ionicon-analytics: "\e91b";
$ionicon-analytics-outline: "\e91c";
$ionicon-analytics-sharp: "\e91d";
$ionicon-aperture: "\e91e";
$ionicon-aperture-outline: "\e91f";
$ionicon-aperture-sharp: "\e920";
$ionicon-apps: "\e921";
$ionicon-apps-outline: "\e922";
$ionicon-apps-sharp: "\e923";
$ionicon-archive: "\e924";
$ionicon-archive-outline: "\e925";
$ionicon-archive-sharp: "\e926";
$ionicon-arrow-back: "\e927";
$ionicon-arrow-back-circle: "\e928";
$ionicon-arrow-back-circle-outline: "\e929";
$ionicon-arrow-back-circle-sharp: "\e92a";
$ionicon-arrow-back-outline: "\e92b";
$ionicon-arrow-back-sharp: "\e92c";
$ionicon-arrow-down: "\e92d";
$ionicon-arrow-down-circle: "\e92e";
$ionicon-arrow-down-circle-outline: "\e92f";
$ionicon-arrow-down-circle-sharp: "\e930";
$ionicon-arrow-down-outline: "\e931";
$ionicon-arrow-down-sharp: "\e932";
$ionicon-arrow-forward: "\e933";
$ionicon-arrow-forward-circle: "\e934";
$ionicon-arrow-forward-circle-outline: "\e935";
$ionicon-arrow-forward-circle-sharp: "\e936";
$ionicon-arrow-forward-outline: "\e937";
$ionicon-arrow-forward-sharp: "\e938";
$ionicon-arrow-redo: "\e939";
$ionicon-arrow-redo-circle: "\e93a";
$ionicon-arrow-redo-circle-outline: "\e93b";
$ionicon-arrow-redo-circle-sharp: "\e93c";
$ionicon-arrow-redo-outline: "\e93d";
$ionicon-arrow-redo-sharp: "\e93e";
$ionicon-arrow-undo: "\e93f";
$ionicon-arrow-undo-circle: "\e940";
$ionicon-arrow-undo-circle-outline: "\e941";
$ionicon-arrow-undo-circle-sharp: "\e942";
$ionicon-arrow-undo-outline: "\e943";
$ionicon-arrow-undo-sharp: "\e944";
$ionicon-arrow-up: "\e945";
$ionicon-arrow-up-circle: "\e946";
$ionicon-arrow-up-circle-outline: "\e947";
$ionicon-arrow-up-circle-sharp: "\e948";
$ionicon-arrow-up-outline: "\e949";
$ionicon-arrow-up-sharp: "\e94a";
$ionicon-at: "\e94b";
$ionicon-at-circle: "\e94c";
$ionicon-at-circle-outline: "\e94d";
$ionicon-at-circle-sharp: "\e94e";
$ionicon-at-outline: "\e94f";
$ionicon-at-sharp: "\e950";
$ionicon-attach: "\e951";
$ionicon-attach-outline: "\e952";
$ionicon-attach-sharp: "\e953";
$ionicon-backspace: "\e954";
$ionicon-backspace-outline: "\e955";
$ionicon-backspace-sharp: "\e956";
$ionicon-bag: "\e957";
$ionicon-bag-add: "\e958";
$ionicon-bag-add-outline: "\e959";
$ionicon-bag-add-sharp: "\e95a";
$ionicon-bag-check: "\e95b";
$ionicon-bag-check-outline: "\e95c";
$ionicon-bag-check-sharp: "\e95d";
$ionicon-bag-handle: "\e95e";
$ionicon-bag-handle-outline: "\e95f";
$ionicon-bag-handle-sharp: "\e960";
$ionicon-bag-outline: "\e961";
$ionicon-bag-remove: "\e962";
$ionicon-bag-remove-outline: "\e963";
$ionicon-bag-remove-sharp: "\e964";
$ionicon-bag-sharp: "\e965";
$ionicon-balloon: "\e966";
$ionicon-balloon-outline: "\e967";
$ionicon-balloon-sharp: "\e968";
$ionicon-ban: "\e969";
$ionicon-bandage: "\e96a";
$ionicon-bandage-outline: "\e96b";
$ionicon-bandage-sharp: "\e96c";
$ionicon-ban-outline: "\e96d";
$ionicon-ban-sharp: "\e96e";
$ionicon-barbell: "\e96f";
$ionicon-barbell-outline: "\e970";
$ionicon-barbell-sharp: "\e971";
$ionicon-bar-chart: "\e972";
$ionicon-bar-chart-outline: "\e973";
$ionicon-bar-chart-sharp: "\e974";
$ionicon-barcode: "\e975";
$ionicon-barcode-outline: "\e976";
$ionicon-barcode-sharp: "\e977";
$ionicon-baseball: "\e978";
$ionicon-baseball-outline: "\e979";
$ionicon-baseball-sharp: "\e97a";
$ionicon-basket: "\e97b";
$ionicon-basketball: "\e97c";
$ionicon-basketball-outline: "\e97d";
$ionicon-basketball-sharp: "\e97e";
$ionicon-basket-outline: "\e97f";
$ionicon-basket-sharp: "\e980";
$ionicon-battery-charging: "\e981";
$ionicon-battery-charging-outline: "\e982";
$ionicon-battery-charging-sharp: "\e983";
$ionicon-battery-dead: "\e984";
$ionicon-battery-dead-outline: "\e985";
$ionicon-battery-dead-sharp: "\e986";
$ionicon-battery-full: "\e987";
$ionicon-battery-full-outline: "\e988";
$ionicon-battery-full-sharp: "\e989";
$ionicon-battery-half: "\e98a";
$ionicon-battery-half-outline: "\e98b";
$ionicon-battery-half-sharp: "\e98c";
$ionicon-beaker: "\e98d";
$ionicon-beaker-outline: "\e98e";
$ionicon-beaker-sharp: "\e98f";
$ionicon-bed: "\e990";
$ionicon-bed-outline: "\e991";
$ionicon-bed-sharp: "\e992";
$ionicon-beer: "\e993";
$ionicon-beer-outline: "\e994";
$ionicon-beer-sharp: "\e995";
$ionicon-bicycle: "\e996";
$ionicon-bicycle-outline: "\e997";
$ionicon-bicycle-sharp: "\e998";
$ionicon-bluetooth: "\e999";
$ionicon-bluetooth-outline: "\e99a";
$ionicon-bluetooth-sharp: "\e99b";
$ionicon-boat: "\e99c";
$ionicon-boat-outline: "\e99d";
$ionicon-boat-sharp: "\e99e";
$ionicon-body: "\e99f";
$ionicon-body-outline: "\e9a0";
$ionicon-body-sharp: "\e9a1";
$ionicon-bonfire: "\e9a2";
$ionicon-bonfire-outline: "\e9a3";
$ionicon-bonfire-sharp: "\e9a4";
$ionicon-book: "\e9a5";
$ionicon-bookmark: "\e9a6";
$ionicon-bookmark-outline: "\e9a7";
$ionicon-bookmarks: "\e9a8";
$ionicon-bookmark-sharp: "\e9a9";
$ionicon-bookmarks-outline: "\e9aa";
$ionicon-bookmarks-sharp: "\e9ab";
$ionicon-book-outline: "\e9ac";
$ionicon-book-sharp: "\e9ad";
$ionicon-bowling-ball: "\e9ae";
$ionicon-bowling-ball-outline: "\e9af";
$ionicon-bowling-ball-sharp: "\e9b0";
$ionicon-briefcase: "\e9b1";
$ionicon-briefcase-outline: "\e9b2";
$ionicon-briefcase-sharp: "\e9b3";
$ionicon-browsers: "\e9b4";
$ionicon-browsers-outline: "\e9b5";
$ionicon-browsers-sharp: "\e9b6";
$ionicon-brush: "\e9b7";
$ionicon-brush-outline: "\e9b8";
$ionicon-brush-sharp: "\e9b9";
$ionicon-bug: "\e9ba";
$ionicon-bug-outline: "\e9bb";
$ionicon-bug-sharp: "\e9bc";
$ionicon-build: "\e9bd";
$ionicon-build-outline: "\e9be";
$ionicon-build-sharp: "\e9bf";
$ionicon-bulb: "\e9c0";
$ionicon-bulb-outline: "\e9c1";
$ionicon-bulb-sharp: "\e9c2";
$ionicon-bus: "\e9c3";
$ionicon-business: "\e9c4";
$ionicon-business-outline: "\e9c5";
$ionicon-business-sharp: "\e9c6";
$ionicon-bus-outline: "\e9c7";
$ionicon-bus-sharp: "\e9c8";
$ionicon-cafe: "\e9c9";
$ionicon-cafe-outline: "\e9ca";
$ionicon-cafe-sharp: "\e9cb";
$ionicon-calculator: "\e9cc";
$ionicon-calculator-outline: "\e9cd";
$ionicon-calculator-sharp: "\e9ce";
$ionicon-calendar: "\e9cf";
$ionicon-calendar-clear: "\e9d0";
$ionicon-calendar-clear-outline: "\e9d1";
$ionicon-calendar-clear-sharp: "\e9d2";
$ionicon-calendar-number: "\e9d3";
$ionicon-calendar-number-outline: "\e9d4";
$ionicon-calendar-number-sharp: "\e9d5";
$ionicon-calendar-outline: "\e9d6";
$ionicon-calendar-sharp: "\e9d7";
$ionicon-call: "\e9d8";
$ionicon-call-outline: "\e9d9";
$ionicon-call-sharp: "\e9da";
$ionicon-camera: "\e9db";
$ionicon-camera-outline: "\e9dc";
$ionicon-camera-reverse: "\e9dd";
$ionicon-camera-reverse-outline: "\e9de";
$ionicon-camera-reverse-sharp: "\e9df";
$ionicon-camera-sharp: "\e9e0";
$ionicon-car: "\e9e1";
$ionicon-card: "\e9e2";
$ionicon-card-outline: "\e9e3";
$ionicon-card-sharp: "\e9e4";
$ionicon-caret-back: "\e9e5";
$ionicon-caret-back-circle: "\e9e6";
$ionicon-caret-back-circle-outline: "\e9e7";
$ionicon-caret-back-circle-sharp: "\e9e8";
$ionicon-caret-back-outline: "\e9e9";
$ionicon-caret-back-sharp: "\e9ea";
$ionicon-caret-down: "\e9eb";
$ionicon-caret-down-circle: "\e9ec";
$ionicon-caret-down-circle-outline: "\e9ed";
$ionicon-caret-down-circle-sharp: "\e9ee";
$ionicon-caret-down-outline: "\e9ef";
$ionicon-caret-down-sharp: "\e9f0";
$ionicon-caret-forward: "\e9f1";
$ionicon-caret-forward-circle: "\e9f2";
$ionicon-caret-forward-circle-outline: "\e9f3";
$ionicon-caret-forward-circle-sharp: "\e9f4";
$ionicon-caret-forward-outline: "\e9f5";
$ionicon-caret-forward-sharp: "\e9f6";
$ionicon-caret-up: "\e9f7";
$ionicon-caret-up-circle: "\e9f8";
$ionicon-caret-up-circle-outline: "\e9f9";
$ionicon-caret-up-circle-sharp: "\e9fa";
$ionicon-caret-up-outline: "\e9fb";
$ionicon-caret-up-sharp: "\e9fc";
$ionicon-car-outline: "\e9fd";
$ionicon-car-sharp: "\e9fe";
$ionicon-car-sport: "\e9ff";
$ionicon-car-sport-outline: "\ea00";
$ionicon-car-sport-sharp: "\ea01";
$ionicon-cart: "\ea02";
$ionicon-cart-outline: "\ea03";
$ionicon-cart-sharp: "\ea04";
$ionicon-cash: "\ea05";
$ionicon-cash-outline: "\ea06";
$ionicon-cash-sharp: "\ea07";
$ionicon-cellular: "\ea08";
$ionicon-cellular-outline: "\ea09";
$ionicon-cellular-sharp: "\ea0a";
$ionicon-chatbox: "\ea0b";
$ionicon-chatbox-ellipses: "\ea0c";
$ionicon-chatbox-ellipses-outline: "\ea0d";
$ionicon-chatbox-ellipses-sharp: "\ea0e";
$ionicon-chatbox-outline: "\ea0f";
$ionicon-chatbox-sharp: "\ea10";
$ionicon-chatbubble: "\ea11";
$ionicon-chatbubble-ellipses: "\ea12";
$ionicon-chatbubble-ellipses-outline: "\ea13";
$ionicon-chatbubble-ellipses-sharp: "\ea14";
$ionicon-chatbubble-outline: "\ea15";
$ionicon-chatbubbles: "\ea16";
$ionicon-chatbubble-sharp: "\ea17";
$ionicon-chatbubbles-outline: "\ea18";
$ionicon-chatbubbles-sharp: "\ea19";
$ionicon-checkbox: "\ea1a";
$ionicon-checkbox-outline: "\ea1b";
$ionicon-checkbox-sharp: "\ea1c";
$ionicon-checkmark: "\ea1d";
$ionicon-checkmark-circle: "\ea1e";
$ionicon-checkmark-circle-outline: "\ea1f";
$ionicon-checkmark-circle-sharp: "\ea20";
$ionicon-checkmark-done: "\ea21";
$ionicon-checkmark-done-circle: "\ea22";
$ionicon-checkmark-done-circle-outline: "\ea23";
$ionicon-checkmark-done-circle-sharp: "\ea24";
$ionicon-checkmark-done-outline: "\ea25";
$ionicon-checkmark-done-sharp: "\ea26";
$ionicon-checkmark-outline: "\ea27";
$ionicon-checkmark-sharp: "\ea28";
$ionicon-chevron-back: "\ea29";
$ionicon-chevron-back-circle: "\ea2a";
$ionicon-chevron-back-circle-outline: "\ea2b";
$ionicon-chevron-back-circle-sharp: "\ea2c";
$ionicon-chevron-back-outline: "\ea2d";
$ionicon-chevron-back-sharp: "\ea2e";
$ionicon-chevron-down: "\ea2f";
$ionicon-chevron-down-circle: "\ea30";
$ionicon-chevron-down-circle-outline: "\ea31";
$ionicon-chevron-down-circle-sharp: "\ea32";
$ionicon-chevron-down-outline: "\ea33";
$ionicon-chevron-down-sharp: "\ea34";
$ionicon-chevron-forward: "\ea35";
$ionicon-chevron-forward-circle: "\ea36";
$ionicon-chevron-forward-circle-outline: "\ea37";
$ionicon-chevron-forward-circle-sharp: "\ea38";
$ionicon-chevron-forward-outline: "\ea39";
$ionicon-chevron-forward-sharp: "\ea3a";
$ionicon-chevron-up: "\ea3b";
$ionicon-chevron-up-circle: "\ea3c";
$ionicon-chevron-up-circle-outline: "\ea3d";
$ionicon-chevron-up-circle-sharp: "\ea3e";
$ionicon-chevron-up-outline: "\ea3f";
$ionicon-chevron-up-sharp: "\ea40";
$ionicon-clipboard: "\ea41";
$ionicon-clipboard-outline: "\ea42";
$ionicon-clipboard-sharp: "\ea43";
$ionicon-close: "\ea44";
$ionicon-close-circle: "\ea45";
$ionicon-close-circle-outline: "\ea46";
$ionicon-close-circle-sharp: "\ea47";
$ionicon-close-outline: "\ea48";
$ionicon-close-sharp: "\ea49";
$ionicon-cloud: "\ea4a";
$ionicon-cloud-circle: "\ea4b";
$ionicon-cloud-circle-outline: "\ea4c";
$ionicon-cloud-circle-sharp: "\ea4d";
$ionicon-cloud-done: "\ea4e";
$ionicon-cloud-done-outline: "\ea4f";
$ionicon-cloud-done-sharp: "\ea50";
$ionicon-cloud-download: "\ea51";
$ionicon-cloud-download-outline: "\ea52";
$ionicon-cloud-download-sharp: "\ea53";
$ionicon-cloud-offline: "\ea54";
$ionicon-cloud-offline-outline: "\ea55";
$ionicon-cloud-offline-sharp: "\ea56";
$ionicon-cloud-outline: "\ea57";
$ionicon-cloud-sharp: "\ea58";
$ionicon-cloud-upload: "\ea59";
$ionicon-cloud-upload-outline: "\ea5a";
$ionicon-cloud-upload-sharp: "\ea5b";
$ionicon-cloudy: "\ea5c";
$ionicon-cloudy-night: "\ea5d";
$ionicon-cloudy-night-outline: "\ea5e";
$ionicon-cloudy-night-sharp: "\ea5f";
$ionicon-cloudy-outline: "\ea60";
$ionicon-cloudy-sharp: "\ea61";
$ionicon-code: "\ea62";
$ionicon-code-download: "\ea63";
$ionicon-code-download-outline: "\ea64";
$ionicon-code-download-sharp: "\ea65";
$ionicon-code-outline: "\ea66";
$ionicon-code-sharp: "\ea67";
$ionicon-code-slash: "\ea68";
$ionicon-code-slash-outline: "\ea69";
$ionicon-code-slash-sharp: "\ea6a";
$ionicon-code-working: "\ea6b";
$ionicon-code-working-outline: "\ea6c";
$ionicon-code-working-sharp: "\ea6d";
$ionicon-cog: "\ea6e";
$ionicon-cog-outline: "\ea6f";
$ionicon-cog-sharp: "\ea70";
$ionicon-color-fill: "\ea71";
$ionicon-color-fill-outline: "\ea72";
$ionicon-color-fill-sharp: "\ea73";
$ionicon-color-filter: "\ea74";
$ionicon-color-filter-outline: "\ea75";
$ionicon-color-filter-sharp: "\ea76";
$ionicon-color-palette: "\ea77";
$ionicon-color-palette-outline: "\ea78";
$ionicon-color-palette-sharp: "\ea79";
$ionicon-color-wand: "\ea7a";
$ionicon-color-wand-outline: "\ea7b";
$ionicon-color-wand-sharp: "\ea7c";
$ionicon-compass: "\ea7d";
$ionicon-compass-outline: "\ea7e";
$ionicon-compass-sharp: "\ea7f";
$ionicon-construct: "\ea80";
$ionicon-construct-outline: "\ea81";
$ionicon-construct-sharp: "\ea82";
$ionicon-contract: "\ea83";
$ionicon-contract-outline: "\ea84";
$ionicon-contract-sharp: "\ea85";
$ionicon-contrast: "\ea86";
$ionicon-contrast-outline: "\ea87";
$ionicon-contrast-sharp: "\ea88";
$ionicon-copy: "\ea89";
$ionicon-copy-outline: "\ea8a";
$ionicon-copy-sharp: "\ea8b";
$ionicon-create: "\ea8c";
$ionicon-create-outline: "\ea8d";
$ionicon-create-sharp: "\ea8e";
$ionicon-crop: "\ea8f";
$ionicon-crop-outline: "\ea90";
$ionicon-crop-sharp: "\ea91";
$ionicon-cube: "\ea92";
$ionicon-cube-outline: "\ea93";
$ionicon-cube-sharp: "\ea94";
$ionicon-cut: "\ea95";
$ionicon-cut-outline: "\ea96";
$ionicon-cut-sharp: "\ea97";
$ionicon-desktop: "\ea98";
$ionicon-desktop-outline: "\ea99";
$ionicon-desktop-sharp: "\ea9a";
$ionicon-diamond: "\ea9b";
$ionicon-diamond-outline: "\ea9c";
$ionicon-diamond-sharp: "\ea9d";
$ionicon-dice: "\ea9e";
$ionicon-dice-outline: "\ea9f";
$ionicon-dice-sharp: "\eaa0";
$ionicon-disc: "\eaa1";
$ionicon-disc-outline: "\eaa2";
$ionicon-disc-sharp: "\eaa3";
$ionicon-document: "\eaa4";
$ionicon-document-attach: "\eaa5";
$ionicon-document-attach-outline: "\eaa6";
$ionicon-document-attach-sharp: "\eaa7";
$ionicon-document-lock: "\eaa8";
$ionicon-document-lock-outline: "\eaa9";
$ionicon-document-lock-sharp: "\eaaa";
$ionicon-document-outline: "\eaab";
$ionicon-documents: "\eaac";
$ionicon-document-sharp: "\eaad";
$ionicon-documents-outline: "\eaae";
$ionicon-documents-sharp: "\eaaf";
$ionicon-document-text: "\eab0";
$ionicon-document-text-outline: "\eab1";
$ionicon-document-text-sharp: "\eab2";
$ionicon-download: "\eab3";
$ionicon-download-outline: "\eab4";
$ionicon-download-sharp: "\eab5";
$ionicon-duplicate: "\eab6";
$ionicon-duplicate-outline: "\eab7";
$ionicon-duplicate-sharp: "\eab8";
$ionicon-ear: "\eab9";
$ionicon-ear-outline: "\eaba";
$ionicon-ear-sharp: "\eabb";
$ionicon-earth: "\eabc";
$ionicon-earth-outline: "\eabd";
$ionicon-earth-sharp: "\eabe";
$ionicon-easel: "\eabf";
$ionicon-easel-outline: "\eac0";
$ionicon-easel-sharp: "\eac1";
$ionicon-egg: "\eac2";
$ionicon-egg-outline: "\eac3";
$ionicon-egg-sharp: "\eac4";
$ionicon-ellipse: "\eac5";
$ionicon-ellipse-outline: "\eac6";
$ionicon-ellipse-sharp: "\eac7";
$ionicon-ellipsis-horizontal: "\eac8";
$ionicon-ellipsis-horizontal-circle: "\eac9";
$ionicon-ellipsis-horizontal-circle-outline: "\eaca";
$ionicon-ellipsis-horizontal-circle-sharp: "\eacb";
$ionicon-ellipsis-horizontal-outline: "\eacc";
$ionicon-ellipsis-horizontal-sharp: "\eacd";
$ionicon-ellipsis-vertical: "\eace";
$ionicon-ellipsis-vertical-circle: "\eacf";
$ionicon-ellipsis-vertical-circle-outline: "\ead0";
$ionicon-ellipsis-vertical-circle-sharp: "\ead1";
$ionicon-ellipsis-vertical-outline: "\ead2";
$ionicon-ellipsis-vertical-sharp: "\ead3";
$ionicon-enter: "\ead4";
$ionicon-enter-outline: "\ead5";
$ionicon-enter-sharp: "\ead6";
$ionicon-exit: "\ead7";
$ionicon-exit-outline: "\ead8";
$ionicon-exit-sharp: "\ead9";
$ionicon-expand: "\eada";
$ionicon-expand-outline: "\eadb";
$ionicon-expand-sharp: "\eadc";
$ionicon-extension-puzzle: "\eadd";
$ionicon-extension-puzzle-outline: "\eade";
$ionicon-extension-puzzle-sharp: "\eadf";
$ionicon-eye: "\eae0";
$ionicon-eyedrop: "\eae1";
$ionicon-eyedrop-outline: "\eae2";
$ionicon-eyedrop-sharp: "\eae3";
$ionicon-eye-off: "\eae4";
$ionicon-eye-off-outline: "\eae5";
$ionicon-eye-off-sharp: "\eae6";
$ionicon-eye-outline: "\eae7";
$ionicon-eye-sharp: "\eae8";
$ionicon-fast-food: "\eae9";
$ionicon-fast-food-outline: "\eaea";
$ionicon-fast-food-sharp: "\eaeb";
$ionicon-female: "\eaec";
$ionicon-female-outline: "\eaed";
$ionicon-female-sharp: "\eaee";
$ionicon-file-tray: "\eaef";
$ionicon-file-tray-full: "\eaf0";
$ionicon-file-tray-full-outline: "\eaf1";
$ionicon-file-tray-full-sharp: "\eaf2";
$ionicon-file-tray-outline: "\eaf3";
$ionicon-file-tray-sharp: "\eaf4";
$ionicon-file-tray-stacked: "\eaf5";
$ionicon-file-tray-stacked-outline: "\eaf6";
$ionicon-file-tray-stacked-sharp: "\eaf7";
$ionicon-film: "\eaf8";
$ionicon-film-outline: "\eaf9";
$ionicon-film-sharp: "\eafa";
$ionicon-filter: "\eafb";
$ionicon-filter-circle: "\eafc";
$ionicon-filter-circle-outline: "\eafd";
$ionicon-filter-circle-sharp: "\eafe";
$ionicon-filter-outline: "\eaff";
$ionicon-filter-sharp: "\eb00";
$ionicon-finger-print: "\eb01";
$ionicon-finger-print-outline: "\eb02";
$ionicon-finger-print-sharp: "\eb03";
$ionicon-fish: "\eb04";
$ionicon-fish-outline: "\eb05";
$ionicon-fish-sharp: "\eb06";
$ionicon-fitness: "\eb07";
$ionicon-fitness-outline: "\eb08";
$ionicon-fitness-sharp: "\eb09";
$ionicon-flag: "\eb0a";
$ionicon-flag-outline: "\eb0b";
$ionicon-flag-sharp: "\eb0c";
$ionicon-flame: "\eb0d";
$ionicon-flame-outline: "\eb0e";
$ionicon-flame-sharp: "\eb0f";
$ionicon-flash: "\eb10";
$ionicon-flashlight: "\eb11";
$ionicon-flashlight-outline: "\eb12";
$ionicon-flashlight-sharp: "\eb13";
$ionicon-flash-off: "\eb14";
$ionicon-flash-off-outline: "\eb15";
$ionicon-flash-off-sharp: "\eb16";
$ionicon-flash-outline: "\eb17";
$ionicon-flash-sharp: "\eb18";
$ionicon-flask: "\eb19";
$ionicon-flask-outline: "\eb1a";
$ionicon-flask-sharp: "\eb1b";
$ionicon-flower: "\eb1c";
$ionicon-flower-outline: "\eb1d";
$ionicon-flower-sharp: "\eb1e";
$ionicon-folder: "\eb1f";
$ionicon-folder-open: "\eb20";
$ionicon-folder-open-outline: "\eb21";
$ionicon-folder-open-sharp: "\eb22";
$ionicon-folder-outline: "\eb23";
$ionicon-folder-sharp: "\eb24";
$ionicon-football: "\eb25";
$ionicon-football-outline: "\eb26";
$ionicon-football-sharp: "\eb27";
$ionicon-footsteps: "\eb28";
$ionicon-footsteps-outline: "\eb29";
$ionicon-footsteps-sharp: "\eb2a";
$ionicon-funnel: "\eb2b";
$ionicon-funnel-outline: "\eb2c";
$ionicon-funnel-sharp: "\eb2d";
$ionicon-game-controller: "\eb2e";
$ionicon-game-controller-outline: "\eb2f";
$ionicon-game-controller-sharp: "\eb30";
$ionicon-gift: "\eb31";
$ionicon-gift-outline: "\eb32";
$ionicon-gift-sharp: "\eb33";
$ionicon-git-branch: "\eb34";
$ionicon-git-branch-outline: "\eb35";
$ionicon-git-branch-sharp: "\eb36";
$ionicon-git-commit: "\eb37";
$ionicon-git-commit-outline: "\eb38";
$ionicon-git-commit-sharp: "\eb39";
$ionicon-git-compare: "\eb3a";
$ionicon-git-compare-outline: "\eb3b";
$ionicon-git-compare-sharp: "\eb3c";
$ionicon-git-merge: "\eb3d";
$ionicon-git-merge-outline: "\eb3e";
$ionicon-git-merge-sharp: "\eb3f";
$ionicon-git-network: "\eb40";
$ionicon-git-network-outline: "\eb41";
$ionicon-git-network-sharp: "\eb42";
$ionicon-git-pull-request: "\eb43";
$ionicon-git-pull-request-outline: "\eb44";
$ionicon-git-pull-request-sharp: "\eb45";
$ionicon-glasses: "\eb46";
$ionicon-glasses-outline: "\eb47";
$ionicon-glasses-sharp: "\eb48";
$ionicon-globe: "\eb49";
$ionicon-globe-outline: "\eb4a";
$ionicon-globe-sharp: "\eb4b";
$ionicon-golf: "\eb4c";
$ionicon-golf-outline: "\eb4d";
$ionicon-golf-sharp: "\eb4e";
$ionicon-grid: "\eb4f";
$ionicon-grid-outline: "\eb50";
$ionicon-grid-sharp: "\eb51";
$ionicon-hammer: "\eb52";
$ionicon-hammer-outline: "\eb53";
$ionicon-hammer-sharp: "\eb54";
$ionicon-hand-left: "\eb55";
$ionicon-hand-left-outline: "\eb56";
$ionicon-hand-left-sharp: "\eb57";
$ionicon-hand-right: "\eb58";
$ionicon-hand-right-outline: "\eb59";
$ionicon-hand-right-sharp: "\eb5a";
$ionicon-happy: "\eb5b";
$ionicon-happy-outline: "\eb5c";
$ionicon-happy-sharp: "\eb5d";
$ionicon-hardware-chip: "\eb5e";
$ionicon-hardware-chip-outline: "\eb5f";
$ionicon-hardware-chip-sharp: "\eb60";
$ionicon-headset: "\eb61";
$ionicon-headset-outline: "\eb62";
$ionicon-headset-sharp: "\eb63";
$ionicon-heart: "\eb64";
$ionicon-heart-circle: "\eb65";
$ionicon-heart-circle-outline: "\eb66";
$ionicon-heart-circle-sharp: "\eb67";
$ionicon-heart-dislike: "\eb68";
$ionicon-heart-dislike-circle: "\eb69";
$ionicon-heart-dislike-circle-outline: "\eb6a";
$ionicon-heart-dislike-circle-sharp: "\eb6b";
$ionicon-heart-dislike-outline: "\eb6c";
$ionicon-heart-dislike-sharp: "\eb6d";
$ionicon-heart-half: "\eb6e";
$ionicon-heart-half-outline: "\eb6f";
$ionicon-heart-half-sharp: "\eb70";
$ionicon-heart-outline: "\eb71";
$ionicon-heart-sharp: "\eb72";
$ionicon-help: "\eb73";
$ionicon-help-buoy: "\eb74";
$ionicon-help-buoy-outline: "\eb75";
$ionicon-help-buoy-sharp: "\eb76";
$ionicon-help-circle: "\eb77";
$ionicon-help-circle-outline: "\eb78";
$ionicon-help-circle-sharp: "\eb79";
$ionicon-help-outline: "\eb7a";
$ionicon-help-sharp: "\eb7b";
$ionicon-home: "\eb7c";
$ionicon-home-outline: "\eb7d";
$ionicon-home-sharp: "\eb7e";
$ionicon-hourglass: "\eb7f";
$ionicon-hourglass-outline: "\eb80";
$ionicon-hourglass-sharp: "\eb81";
$ionicon-ice-cream: "\eb82";
$ionicon-ice-cream-outline: "\eb83";
$ionicon-ice-cream-sharp: "\eb84";
$ionicon-id-card: "\eb85";
$ionicon-id-card-outline: "\eb86";
$ionicon-id-card-sharp: "\eb87";
$ionicon-image: "\eb88";
$ionicon-image-outline: "\eb89";
$ionicon-images: "\eb8a";
$ionicon-image-sharp: "\eb8b";
$ionicon-images-outline: "\eb8c";
$ionicon-images-sharp: "\eb8d";
$ionicon-infinite: "\eb8e";
$ionicon-infinite-outline: "\eb8f";
$ionicon-infinite-sharp: "\eb90";
$ionicon-information: "\eb91";
$ionicon-information-circle: "\eb92";
$ionicon-information-circle-outline: "\eb93";
$ionicon-information-circle-sharp: "\eb94";
$ionicon-information-outline: "\eb95";
$ionicon-information-sharp: "\eb96";
$ionicon-invert-mode: "\eb97";
$ionicon-invert-mode-outline: "\eb98";
$ionicon-invert-mode-sharp: "\eb99";
$ionicon-journal: "\eb9a";
$ionicon-journal-outline: "\eb9b";
$ionicon-journal-sharp: "\eb9c";
$ionicon-key: "\eb9d";
$ionicon-key-outline: "\eb9e";
$ionicon-keypad: "\eb9f";
$ionicon-keypad-outline: "\eba0";
$ionicon-keypad-sharp: "\eba1";
$ionicon-key-sharp: "\eba2";
$ionicon-language: "\eba3";
$ionicon-language-outline: "\eba4";
$ionicon-language-sharp: "\eba5";
$ionicon-laptop: "\eba6";
$ionicon-laptop-outline: "\eba7";
$ionicon-laptop-sharp: "\eba8";
$ionicon-layers: "\eba9";
$ionicon-layers-outline: "\ebaa";
$ionicon-layers-sharp: "\ebab";
$ionicon-leaf: "\ebac";
$ionicon-leaf-outline: "\ebad";
$ionicon-leaf-sharp: "\ebae";
$ionicon-library: "\ebaf";
$ionicon-library-outline: "\ebb0";
$ionicon-library-sharp: "\ebb1";
$ionicon-link: "\ebb2";
$ionicon-link-outline: "\ebb3";
$ionicon-link-sharp: "\ebb4";
$ionicon-list: "\ebb5";
$ionicon-list-circle: "\ebb6";
$ionicon-list-circle-outline: "\ebb7";
$ionicon-list-circle-sharp: "\ebb8";
$ionicon-list-outline: "\ebb9";
$ionicon-list-sharp: "\ebba";
$ionicon-locate: "\ebbb";
$ionicon-locate-outline: "\ebbc";
$ionicon-locate-sharp: "\ebbd";
$ionicon-location: "\ebbe";
$ionicon-location-outline: "\ebbf";
$ionicon-location-sharp: "\ebc0";
$ionicon-lock-closed: "\ebc1";
$ionicon-lock-closed-outline: "\ebc2";
$ionicon-lock-closed-sharp: "\ebc3";
$ionicon-lock-open: "\ebc4";
$ionicon-lock-open-outline: "\ebc5";
$ionicon-lock-open-sharp: "\ebc6";
$ionicon-log-in: "\ebc7";
$ionicon-log-in-outline: "\ebc8";
$ionicon-log-in-sharp: "\ebc9";
$ionicon-logo-alipay: "\ebca";
$ionicon-logo-amazon: "\ebcb";
$ionicon-logo-amplify: "\ebcc";
$ionicon-logo-android: "\ebcd";
$ionicon-logo-angular: "\ebce";
$ionicon-logo-apple: "\ebcf";
$ionicon-logo-apple-appstore: "\ebd0";
$ionicon-logo-apple-ar: "\ebd1";
$ionicon-logo-behance: "\ebd2";
$ionicon-logo-bitbucket: "\ebd3";
$ionicon-logo-bitcoin: "\ebd4";
$ionicon-logo-buffer: "\ebd5";
$ionicon-logo-capacitor: "\ebd6";
$ionicon-logo-chrome: "\ebd7";
$ionicon-logo-closed-captioning: "\ebd8";
$ionicon-logo-codepen: "\ebd9";
$ionicon-logo-css3: "\ebda";
$ionicon-logo-designernews: "\ebdb";
$ionicon-logo-deviantart: "\ebdc";
$ionicon-logo-discord: "\ebdd";
$ionicon-logo-docker: "\ebde";
$ionicon-logo-dribbble: "\ebdf";
$ionicon-logo-dropbox: "\ebe0";
$ionicon-logo-edge: "\ebe1";
$ionicon-logo-electron: "\ebe2";
$ionicon-logo-euro: "\ebe3";
$ionicon-logo-facebook: "\ebe4";
$ionicon-logo-figma: "\ebe5";
$ionicon-logo-firebase: "\ebe6";
$ionicon-logo-firefox: "\ebe7";
$ionicon-logo-flickr: "\ebe8";
$ionicon-logo-foursquare: "\ebe9";
$ionicon-logo-github: "\ebea";
$ionicon-logo-gitlab: "\ebeb";
$ionicon-logo-google: "\ebec";
$ionicon-logo-google-playstore: "\ebed";
$ionicon-logo-hackernews: "\ebee";
$ionicon-logo-html5: "\ebef";
$ionicon-logo-instagram: "\ebf0";
$ionicon-logo-ionic: "\ebf1";
$ionicon-logo-ionitron: "\ebf2";
$ionicon-logo-javascript: "\ebf3";
$ionicon-logo-laravel: "\ebf4";
$ionicon-logo-linkedin: "\ebf5";
$ionicon-logo-markdown: "\ebf6";
$ionicon-logo-mastodon: "\ebf7";
$ionicon-logo-medium: "\ebf8";
$ionicon-logo-microsoft: "\ebf9";
$ionicon-logo-nodejs: "\ebfa";
$ionicon-logo-no-smoking: "\ebfb";
$ionicon-logo-npm: "\ebfc";
$ionicon-logo-octocat: "\ebfd";
$ionicon-logo-paypal: "\ebfe";
$ionicon-logo-pinterest: "\ebff";
$ionicon-logo-playstation: "\ec00";
$ionicon-logo-pwa: "\ec01";
$ionicon-logo-python: "\ec02";
$ionicon-logo-react: "\ec03";
$ionicon-logo-reddit: "\ec04";
$ionicon-logo-rss: "\ec05";
$ionicon-logo-sass: "\ec06";
$ionicon-logo-skype: "\ec07";
$ionicon-logo-slack: "\ec08";
$ionicon-logo-snapchat: "\ec09";
$ionicon-logo-soundcloud: "\ec0a";
$ionicon-logo-stackoverflow: "\ec0b";
$ionicon-logo-steam: "\ec0c";
$ionicon-logo-stencil: "\ec0d";
$ionicon-logo-tableau: "\ec0e";
$ionicon-logo-tiktok: "\ec0f";
$ionicon-logo-tumblr: "\ec10";
$ionicon-logo-tux: "\ec11";
$ionicon-logo-twitch: "\ec12";
$ionicon-logo-twitter: "\ec13";
$ionicon-logo-usd: "\ec14";
$ionicon-log-out: "\ec15";
$ionicon-log-out-outline: "\ec16";
$ionicon-log-out-sharp: "\ec17";
$ionicon-logo-venmo: "\ec18";
$ionicon-logo-vercel: "\ec19";
$ionicon-logo-vimeo: "\ec1a";
$ionicon-logo-vk: "\ec1b";
$ionicon-logo-vue: "\ec1c";
$ionicon-logo-web-component: "\ec1d";
$ionicon-logo-wechat: "\ec1e";
$ionicon-logo-whatsapp: "\ec1f";
$ionicon-logo-windows: "\ec20";
$ionicon-logo-wordpress: "\ec21";
$ionicon-logo-xbox: "\ec22";
$ionicon-logo-xing: "\ec23";
$ionicon-logo-yahoo: "\ec24";
$ionicon-logo-yen: "\ec25";
$ionicon-logo-youtube: "\ec26";
$ionicon-magnet: "\ec27";
$ionicon-magnet-outline: "\ec28";
$ionicon-magnet-sharp: "\ec29";
$ionicon-mail: "\ec2a";
$ionicon-mail-open: "\ec2b";
$ionicon-mail-open-outline: "\ec2c";
$ionicon-mail-open-sharp: "\ec2d";
$ionicon-mail-outline: "\ec2e";
$ionicon-mail-sharp: "\ec2f";
$ionicon-mail-unread: "\ec30";
$ionicon-mail-unread-outline: "\ec31";
$ionicon-mail-unread-sharp: "\ec32";
$ionicon-male: "\ec33";
$ionicon-male-female: "\ec34";
$ionicon-male-female-outline: "\ec35";
$ionicon-male-female-sharp: "\ec36";
$ionicon-male-outline: "\ec37";
$ionicon-male-sharp: "\ec38";
$ionicon-man: "\ec39";
$ionicon-man-outline: "\ec3a";
$ionicon-man-sharp: "\ec3b";
$ionicon-map: "\ec3c";
$ionicon-map-outline: "\ec3d";
$ionicon-map-sharp: "\ec3e";
$ionicon-medal: "\ec3f";
$ionicon-medal-outline: "\ec40";
$ionicon-medal-sharp: "\ec41";
$ionicon-medical: "\ec42";
$ionicon-medical-outline: "\ec43";
$ionicon-medical-sharp: "\ec44";
$ionicon-medkit: "\ec45";
$ionicon-medkit-outline: "\ec46";
$ionicon-medkit-sharp: "\ec47";
$ionicon-megaphone: "\ec48";
$ionicon-megaphone-outline: "\ec49";
$ionicon-megaphone-sharp: "\ec4a";
$ionicon-menu: "\ec4b";
$ionicon-menu-outline: "\ec4c";
$ionicon-menu-sharp: "\ec4d";
$ionicon-mic: "\ec4e";
$ionicon-mic-circle: "\ec4f";
$ionicon-mic-circle-outline: "\ec50";
$ionicon-mic-circle-sharp: "\ec51";
$ionicon-mic-off: "\ec52";
$ionicon-mic-off-circle: "\ec53";
$ionicon-mic-off-circle-outline: "\ec54";
$ionicon-mic-off-circle-sharp: "\ec55";
$ionicon-mic-off-outline: "\ec56";
$ionicon-mic-off-sharp: "\ec57";
$ionicon-mic-outline: "\ec58";
$ionicon-mic-sharp: "\ec59";
$ionicon-moon: "\ec5a";
$ionicon-moon-outline: "\ec5b";
$ionicon-moon-sharp: "\ec5c";
$ionicon-move: "\ec5d";
$ionicon-move-outline: "\ec5e";
$ionicon-move-sharp: "\ec5f";
$ionicon-musical-note: "\ec60";
$ionicon-musical-note-outline: "\ec61";
$ionicon-musical-notes: "\ec62";
$ionicon-musical-note-sharp: "\ec63";
$ionicon-musical-notes-outline: "\ec64";
$ionicon-musical-notes-sharp: "\ec65";
$ionicon-navigate: "\ec66";
$ionicon-navigate-circle: "\ec67";
$ionicon-navigate-circle-outline: "\ec68";
$ionicon-navigate-circle-sharp: "\ec69";
$ionicon-navigate-outline: "\ec6a";
$ionicon-navigate-sharp: "\ec6b";
$ionicon-newspaper: "\ec6c";
$ionicon-newspaper-outline: "\ec6d";
$ionicon-newspaper-sharp: "\ec6e";
$ionicon-notifications: "\ec6f";
$ionicon-notifications-circle: "\ec70";
$ionicon-notifications-circle-outline: "\ec71";
$ionicon-notifications-circle-sharp: "\ec72";
$ionicon-notifications-off: "\ec73";
$ionicon-notifications-off-circle: "\ec74";
$ionicon-notifications-off-circle-outline: "\ec75";
$ionicon-notifications-off-circle-sharp: "\ec76";
$ionicon-notifications-off-outline: "\ec77";
$ionicon-notifications-off-sharp: "\ec78";
$ionicon-notifications-outline: "\ec79";
$ionicon-notifications-sharp: "\ec7a";
$ionicon-nuclear: "\ec7b";
$ionicon-nuclear-outline: "\ec7c";
$ionicon-nuclear-sharp: "\ec7d";
$ionicon-nutrition: "\ec7e";
$ionicon-nutrition-outline: "\ec7f";
$ionicon-nutrition-sharp: "\ec80";
$ionicon-open: "\ec81";
$ionicon-open-outline: "\ec82";
$ionicon-open-sharp: "\ec83";
$ionicon-options: "\ec84";
$ionicon-options-outline: "\ec85";
$ionicon-options-sharp: "\ec86";
$ionicon-paper-plane: "\ec87";
$ionicon-paper-plane-outline: "\ec88";
$ionicon-paper-plane-sharp: "\ec89";
$ionicon-partly-sunny: "\ec8a";
$ionicon-partly-sunny-outline: "\ec8b";
$ionicon-partly-sunny-sharp: "\ec8c";
$ionicon-pause: "\ec8d";
$ionicon-pause-circle: "\ec8e";
$ionicon-pause-circle-outline: "\ec8f";
$ionicon-pause-circle-sharp: "\ec90";
$ionicon-pause-outline: "\ec91";
$ionicon-pause-sharp: "\ec92";
$ionicon-paw: "\ec93";
$ionicon-paw-outline: "\ec94";
$ionicon-paw-sharp: "\ec95";
$ionicon-pencil: "\ec96";
$ionicon-pencil-outline: "\ec97";
$ionicon-pencil-sharp: "\ec98";
$ionicon-people: "\ec99";
$ionicon-people-circle: "\ec9a";
$ionicon-people-circle-outline: "\ec9b";
$ionicon-people-circle-sharp: "\ec9c";
$ionicon-people-outline: "\ec9d";
$ionicon-people-sharp: "\ec9e";
$ionicon-person: "\ec9f";
$ionicon-person-add: "\eca0";
$ionicon-person-add-outline: "\eca1";
$ionicon-person-add-sharp: "\eca2";
$ionicon-person-circle: "\eca3";
$ionicon-person-circle-outline: "\eca4";
$ionicon-person-circle-sharp: "\eca5";
$ionicon-person-outline: "\eca6";
$ionicon-person-remove: "\eca7";
$ionicon-person-remove-outline: "\eca8";
$ionicon-person-remove-sharp: "\eca9";
$ionicon-person-sharp: "\ecaa";
$ionicon-phone-landscape: "\ecab";
$ionicon-phone-landscape-outline: "\ecac";
$ionicon-phone-landscape-sharp: "\ecad";
$ionicon-phone-portrait: "\ecae";
$ionicon-phone-portrait-outline: "\ecaf";
$ionicon-phone-portrait-sharp: "\ecb0";
$ionicon-pie-chart: "\ecb1";
$ionicon-pie-chart-outline: "\ecb2";
$ionicon-pie-chart-sharp: "\ecb3";
$ionicon-pin: "\ecb4";
$ionicon-pin-outline: "\ecb5";
$ionicon-pin-sharp: "\ecb6";
$ionicon-pint: "\ecb7";
$ionicon-pint-outline: "\ecb8";
$ionicon-pint-sharp: "\ecb9";
$ionicon-pizza: "\ecba";
$ionicon-pizza-outline: "\ecbb";
$ionicon-pizza-sharp: "\ecbc";
$ionicon-planet: "\ecbd";
$ionicon-planet-outline: "\ecbe";
$ionicon-planet-sharp: "\ecbf";
$ionicon-play: "\ecc0";
$ionicon-play-back: "\ecc1";
$ionicon-play-back-circle: "\ecc2";
$ionicon-play-back-circle-outline: "\ecc3";
$ionicon-play-back-circle-sharp: "\ecc4";
$ionicon-play-back-outline: "\ecc5";
$ionicon-play-back-sharp: "\ecc6";
$ionicon-play-circle: "\ecc7";
$ionicon-play-circle-outline: "\ecc8";
$ionicon-play-circle-sharp: "\ecc9";
$ionicon-play-forward: "\ecca";
$ionicon-play-forward-circle: "\eccb";
$ionicon-play-forward-circle-outline: "\eccc";
$ionicon-play-forward-circle-sharp: "\eccd";
$ionicon-play-forward-outline: "\ecce";
$ionicon-play-forward-sharp: "\eccf";
$ionicon-play-outline: "\ecd0";
$ionicon-play-sharp: "\ecd1";
$ionicon-play-skip-back: "\ecd2";
$ionicon-play-skip-back-circle: "\ecd3";
$ionicon-play-skip-back-circle-outline: "\ecd4";
$ionicon-play-skip-back-circle-sharp: "\ecd5";
$ionicon-play-skip-back-outline: "\ecd6";
$ionicon-play-skip-back-sharp: "\ecd7";
$ionicon-play-skip-forward: "\ecd8";
$ionicon-play-skip-forward-circle: "\ecd9";
$ionicon-play-skip-forward-circle-outline: "\ecda";
$ionicon-play-skip-forward-circle-sharp: "\ecdb";
$ionicon-play-skip-forward-outline: "\ecdc";
$ionicon-play-skip-forward-sharp: "\ecdd";
$ionicon-podium: "\ecde";
$ionicon-podium-outline: "\ecdf";
$ionicon-podium-sharp: "\ece0";
$ionicon-power: "\ece1";
$ionicon-power-outline: "\ece2";
$ionicon-power-sharp: "\ece3";
$ionicon-pricetag: "\ece4";
$ionicon-pricetag-outline: "\ece5";
$ionicon-pricetags: "\ece6";
$ionicon-pricetag-sharp: "\ece7";
$ionicon-pricetags-outline: "\ece8";
$ionicon-pricetags-sharp: "\ece9";
$ionicon-print: "\ecea";
$ionicon-print-outline: "\eceb";
$ionicon-print-sharp: "\ecec";
$ionicon-prism: "\eced";
$ionicon-prism-outline: "\ecee";
$ionicon-prism-sharp: "\ecef";
$ionicon-pulse: "\ecf0";
$ionicon-pulse-outline: "\ecf1";
$ionicon-pulse-sharp: "\ecf2";
$ionicon-push: "\ecf3";
$ionicon-push-outline: "\ecf4";
$ionicon-push-sharp: "\ecf5";
$ionicon-qr-code: "\ecf6";
$ionicon-qr-code-outline: "\ecf7";
$ionicon-qr-code-sharp: "\ecf8";
$ionicon-radio: "\ecf9";
$ionicon-radio-button-off: "\ecfa";
$ionicon-radio-button-off-outline: "\ecfb";
$ionicon-radio-button-off-sharp: "\ecfc";
$ionicon-radio-button-on: "\ecfd";
$ionicon-radio-button-on-outline: "\ecfe";
$ionicon-radio-button-on-sharp: "\ecff";
$ionicon-radio-outline: "\ed00";
$ionicon-radio-sharp: "\ed01";
$ionicon-rainy: "\ed02";
$ionicon-rainy-outline: "\ed03";
$ionicon-rainy-sharp: "\ed04";
$ionicon-reader: "\ed05";
$ionicon-reader-outline: "\ed06";
$ionicon-reader-sharp: "\ed07";
$ionicon-receipt: "\ed08";
$ionicon-receipt-outline: "\ed09";
$ionicon-receipt-sharp: "\ed0a";
$ionicon-recording: "\ed0b";
$ionicon-recording-outline: "\ed0c";
$ionicon-recording-sharp: "\ed0d";
$ionicon-refresh: "\ed0e";
$ionicon-refresh-circle: "\ed0f";
$ionicon-refresh-circle-outline: "\ed10";
$ionicon-refresh-circle-sharp: "\ed11";
$ionicon-refresh-outline: "\ed12";
$ionicon-refresh-sharp: "\ed13";
$ionicon-reload: "\ed14";
$ionicon-reload-circle: "\ed15";
$ionicon-reload-circle-outline: "\ed16";
$ionicon-reload-circle-sharp: "\ed17";
$ionicon-reload-outline: "\ed18";
$ionicon-reload-sharp: "\ed19";
$ionicon-remove: "\ed1a";
$ionicon-remove-circle: "\ed1b";
$ionicon-remove-circle-outline: "\ed1c";
$ionicon-remove-circle-sharp: "\ed1d";
$ionicon-remove-outline: "\ed1e";
$ionicon-remove-sharp: "\ed1f";
$ionicon-reorder-four: "\ed20";
$ionicon-reorder-four-outline: "\ed21";
$ionicon-reorder-four-sharp: "\ed22";
$ionicon-reorder-three: "\ed23";
$ionicon-reorder-three-outline: "\ed24";
$ionicon-reorder-three-sharp: "\ed25";
$ionicon-reorder-two: "\ed26";
$ionicon-reorder-two-outline: "\ed27";
$ionicon-reorder-two-sharp: "\ed28";
$ionicon-repeat: "\ed29";
$ionicon-repeat-outline: "\ed2a";
$ionicon-repeat-sharp: "\ed2b";
$ionicon-resize: "\ed2c";
$ionicon-resize-outline: "\ed2d";
$ionicon-resize-sharp: "\ed2e";
$ionicon-restaurant: "\ed2f";
$ionicon-restaurant-outline: "\ed30";
$ionicon-restaurant-sharp: "\ed31";
$ionicon-return-down-back: "\ed32";
$ionicon-return-down-back-outline: "\ed33";
$ionicon-return-down-back-sharp: "\ed34";
$ionicon-return-down-forward: "\ed35";
$ionicon-return-down-forward-outline: "\ed36";
$ionicon-return-down-forward-sharp: "\ed37";
$ionicon-return-up-back: "\ed38";
$ionicon-return-up-back-outline: "\ed39";
$ionicon-return-up-back-sharp: "\ed3a";
$ionicon-return-up-forward: "\ed3b";
$ionicon-return-up-forward-outline: "\ed3c";
$ionicon-return-up-forward-sharp: "\ed3d";
$ionicon-ribbon: "\ed3e";
$ionicon-ribbon-outline: "\ed3f";
$ionicon-ribbon-sharp: "\ed40";
$ionicon-rocket: "\ed41";
$ionicon-rocket-outline: "\ed42";
$ionicon-rocket-sharp: "\ed43";
$ionicon-rose: "\ed44";
$ionicon-rose-outline: "\ed45";
$ionicon-rose-sharp: "\ed46";
$ionicon-sad: "\ed47";
$ionicon-sad-outline: "\ed48";
$ionicon-sad-sharp: "\ed49";
$ionicon-save: "\ed4a";
$ionicon-save-outline: "\ed4b";
$ionicon-save-sharp: "\ed4c";
$ionicon-scale: "\ed4d";
$ionicon-scale-outline: "\ed4e";
$ionicon-scale-sharp: "\ed4f";
$ionicon-scan: "\ed50";
$ionicon-scan-circle: "\ed51";
$ionicon-scan-circle-outline: "\ed52";
$ionicon-scan-circle-sharp: "\ed53";
$ionicon-scan-outline: "\ed54";
$ionicon-scan-sharp: "\ed55";
$ionicon-school: "\ed56";
$ionicon-school-outline: "\ed57";
$ionicon-school-sharp: "\ed58";
$ionicon-search: "\ed59";
$ionicon-search-circle: "\ed5a";
$ionicon-search-circle-outline: "\ed5b";
$ionicon-search-circle-sharp: "\ed5c";
$ionicon-search-outline: "\ed5d";
$ionicon-search-sharp: "\ed5e";
$ionicon-send: "\ed5f";
$ionicon-send-outline: "\ed60";
$ionicon-send-sharp: "\ed61";
$ionicon-server: "\ed62";
$ionicon-server-outline: "\ed63";
$ionicon-server-sharp: "\ed64";
$ionicon-settings: "\ed65";
$ionicon-settings-outline: "\ed66";
$ionicon-settings-sharp: "\ed67";
$ionicon-shapes: "\ed68";
$ionicon-shapes-outline: "\ed69";
$ionicon-shapes-sharp: "\ed6a";
$ionicon-share: "\ed6b";
$ionicon-share-outline: "\ed6c";
$ionicon-share-sharp: "\ed6d";
$ionicon-share-social: "\ed6e";
$ionicon-share-social-outline: "\ed6f";
$ionicon-share-social-sharp: "\ed70";
$ionicon-shield: "\ed71";
$ionicon-shield-checkmark: "\ed72";
$ionicon-shield-checkmark-outline: "\ed73";
$ionicon-shield-checkmark-sharp: "\ed74";
$ionicon-shield-half: "\ed75";
$ionicon-shield-half-outline: "\ed76";
$ionicon-shield-half-sharp: "\ed77";
$ionicon-shield-outline: "\ed78";
$ionicon-shield-sharp: "\ed79";
$ionicon-shirt: "\ed7a";
$ionicon-shirt-outline: "\ed7b";
$ionicon-shirt-sharp: "\ed7c";
$ionicon-shuffle: "\ed7d";
$ionicon-shuffle-outline: "\ed7e";
$ionicon-shuffle-sharp: "\ed7f";
$ionicon-skull: "\ed80";
$ionicon-skull-outline: "\ed81";
$ionicon-skull-sharp: "\ed82";
$ionicon-snow: "\ed83";
$ionicon-snow-outline: "\ed84";
$ionicon-snow-sharp: "\ed85";
$ionicon-sparkles: "\ed86";
$ionicon-sparkles-outline: "\ed87";
$ionicon-sparkles-sharp: "\ed88";
$ionicon-speedometer: "\ed89";
$ionicon-speedometer-outline: "\ed8a";
$ionicon-speedometer-sharp: "\ed8b";
$ionicon-square: "\ed8c";
$ionicon-square-outline: "\ed8d";
$ionicon-square-sharp: "\ed8e";
$ionicon-star: "\ed8f";
$ionicon-star-half: "\ed90";
$ionicon-star-half-outline: "\ed91";
$ionicon-star-half-sharp: "\ed92";
$ionicon-star-outline: "\ed93";
$ionicon-star-sharp: "\ed94";
$ionicon-stats-chart: "\ed95";
$ionicon-stats-chart-outline: "\ed96";
$ionicon-stats-chart-sharp: "\ed97";
$ionicon-stop: "\ed98";
$ionicon-stop-circle: "\ed99";
$ionicon-stop-circle-outline: "\ed9a";
$ionicon-stop-circle-sharp: "\ed9b";
$ionicon-stop-outline: "\ed9c";
$ionicon-stop-sharp: "\ed9d";
$ionicon-stopwatch: "\ed9e";
$ionicon-stopwatch-outline: "\ed9f";
$ionicon-stopwatch-sharp: "\eda0";
$ionicon-storefront: "\eda1";
$ionicon-storefront-outline: "\eda2";
$ionicon-storefront-sharp: "\eda3";
$ionicon-subway: "\eda4";
$ionicon-subway-outline: "\eda5";
$ionicon-subway-sharp: "\eda6";
$ionicon-sunny: "\eda7";
$ionicon-sunny-outline: "\eda8";
$ionicon-sunny-sharp: "\eda9";
$ionicon-swap-horizontal: "\edaa";
$ionicon-swap-horizontal-outline: "\edab";
$ionicon-swap-horizontal-sharp: "\edac";
$ionicon-swap-vertical: "\edad";
$ionicon-swap-vertical-outline: "\edae";
$ionicon-swap-vertical-sharp: "\edaf";
$ionicon-sync: "\edb0";
$ionicon-sync-circle: "\edb1";
$ionicon-sync-circle-outline: "\edb2";
$ionicon-sync-circle-sharp: "\edb3";
$ionicon-sync-outline: "\edb4";
$ionicon-sync-sharp: "\edb5";
$ionicon-tablet-landscape: "\edb6";
$ionicon-tablet-landscape-outline: "\edb7";
$ionicon-tablet-landscape-sharp: "\edb8";
$ionicon-tablet-portrait: "\edb9";
$ionicon-tablet-portrait-outline: "\edba";
$ionicon-tablet-portrait-sharp: "\edbb";
$ionicon-telescope: "\edbc";
$ionicon-telescope-outline: "\edbd";
$ionicon-telescope-sharp: "\edbe";
$ionicon-tennisball: "\edbf";
$ionicon-tennisball-outline: "\edc0";
$ionicon-tennisball-sharp: "\edc1";
$ionicon-terminal: "\edc2";
$ionicon-terminal-outline: "\edc3";
$ionicon-terminal-sharp: "\edc4";
$ionicon-text: "\edc5";
$ionicon-text-outline: "\edc6";
$ionicon-text-sharp: "\edc7";
$ionicon-thermometer: "\edc8";
$ionicon-thermometer-outline: "\edc9";
$ionicon-thermometer-sharp: "\edca";
$ionicon-thumbs-down: "\edcb";
$ionicon-thumbs-down-outline: "\edcc";
$ionicon-thumbs-down-sharp: "\edcd";
$ionicon-thumbs-up: "\edce";
$ionicon-thumbs-up-outline: "\edcf";
$ionicon-thumbs-up-sharp: "\edd0";
$ionicon-thunderstorm: "\edd1";
$ionicon-thunderstorm-outline: "\edd2";
$ionicon-thunderstorm-sharp: "\edd3";
$ionicon-ticket: "\edd4";
$ionicon-ticket-outline: "\edd5";
$ionicon-ticket-sharp: "\edd6";
$ionicon-time: "\edd7";
$ionicon-time-outline: "\edd8";
$ionicon-timer: "\edd9";
$ionicon-timer-outline: "\edda";
$ionicon-timer-sharp: "\eddb";
$ionicon-time-sharp: "\eddc";
$ionicon-today: "\eddd";
$ionicon-today-outline: "\edde";
$ionicon-today-sharp: "\eddf";
$ionicon-toggle: "\ede0";
$ionicon-toggle-outline: "\ede1";
$ionicon-toggle-sharp: "\ede2";
$ionicon-trail-sign: "\ede3";
$ionicon-trail-sign-outline: "\ede4";
$ionicon-trail-sign-sharp: "\ede5";
$ionicon-train: "\ede6";
$ionicon-train-outline: "\ede7";
$ionicon-train-sharp: "\ede8";
$ionicon-transgender: "\ede9";
$ionicon-transgender-outline: "\edea";
$ionicon-transgender-sharp: "\edeb";
$ionicon-trash: "\edec";
$ionicon-trash-bin: "\eded";
$ionicon-trash-bin-outline: "\edee";
$ionicon-trash-bin-sharp: "\edef";
$ionicon-trash-outline: "\edf0";
$ionicon-trash-sharp: "\edf1";
$ionicon-trending-down: "\edf2";
$ionicon-trending-down-outline: "\edf3";
$ionicon-trending-down-sharp: "\edf4";
$ionicon-trending-up: "\edf5";
$ionicon-trending-up-outline: "\edf6";
$ionicon-trending-up-sharp: "\edf7";
$ionicon-triangle: "\edf8";
$ionicon-triangle-outline: "\edf9";
$ionicon-triangle-sharp: "\edfa";
$ionicon-trophy: "\edfb";
$ionicon-trophy-outline: "\edfc";
$ionicon-trophy-sharp: "\edfd";
$ionicon-tv: "\edfe";
$ionicon-tv-outline: "\edff";
$ionicon-tv-sharp: "\ee00";
$ionicon-umbrella: "\ee01";
$ionicon-umbrella-outline: "\ee02";
$ionicon-umbrella-sharp: "\ee03";
$ionicon-unlink: "\ee04";
$ionicon-unlink-outline: "\ee05";
$ionicon-unlink-sharp: "\ee06";
$ionicon-videocam: "\ee07";
$ionicon-videocam-off: "\ee08";
$ionicon-videocam-off-outline: "\ee09";
$ionicon-videocam-off-sharp: "\ee0a";
$ionicon-videocam-outline: "\ee0b";
$ionicon-videocam-sharp: "\ee0c";
$ionicon-volume-high: "\ee0d";
$ionicon-volume-high-outline: "\ee0e";
$ionicon-volume-high-sharp: "\ee0f";
$ionicon-volume-low: "\ee10";
$ionicon-volume-low-outline: "\ee11";
$ionicon-volume-low-sharp: "\ee12";
$ionicon-volume-medium: "\ee13";
$ionicon-volume-medium-outline: "\ee14";
$ionicon-volume-medium-sharp: "\ee15";
$ionicon-volume-mute: "\ee16";
$ionicon-volume-mute-outline: "\ee17";
$ionicon-volume-mute-sharp: "\ee18";
$ionicon-volume-off: "\ee19";
$ionicon-volume-off-outline: "\ee1a";
$ionicon-volume-off-sharp: "\ee1b";
$ionicon-walk: "\ee1c";
$ionicon-walk-outline: "\ee1d";
$ionicon-walk-sharp: "\ee1e";
$ionicon-wallet: "\ee1f";
$ionicon-wallet-outline: "\ee20";
$ionicon-wallet-sharp: "\ee21";
$ionicon-warning: "\ee22";
$ionicon-warning-outline: "\ee23";
$ionicon-warning-sharp: "\ee24";
$ionicon-watch: "\ee25";
$ionicon-watch-outline: "\ee26";
$ionicon-watch-sharp: "\ee27";
$ionicon-water: "\ee28";
$ionicon-water-outline: "\ee29";
$ionicon-water-sharp: "\ee2a";
$ionicon-wifi: "\ee2b";
$ionicon-wifi-outline: "\ee2c";
$ionicon-wifi-sharp: "\ee2d";
$ionicon-wine: "\ee2e";
$ionicon-wine-outline: "\ee2f";
$ionicon-wine-sharp: "\ee30";
$ionicon-woman: "\ee31";
$ionicon-woman-outline: "\ee32";
$ionicon-woman-sharp: "\ee33";

