$icomoon-font-family: "ionicon" !default;
$icomoon-font-path: "fonts" !default;

$ionicon-accessibility-outline: "\e900";
$ionicon-add-circle-outline: "\e901";
$ionicon-add-outline: "\e902";
$ionicon-airplane-outline: "\e903";
$ionicon-alarm-outline: "\e904";
$ionicon-albums-outline: "\e905";
$ionicon-alert-circle-outline: "\e906";
$ionicon-alert-outline: "\e907";
$ionicon-american-football-outline: "\e908";
$ionicon-analytics-outline: "\e909";
$ionicon-aperture-outline: "\e90a";
$ionicon-apps-outline: "\e90b";
$ionicon-archive-outline: "\e90c";
$ionicon-arrow-back-circle-outline: "\e90d";
$ionicon-arrow-back-outline: "\e90e";
$ionicon-arrow-down-circle-outline: "\e90f";
$ionicon-arrow-down-outline: "\e910";
$ionicon-arrow-forward-circle-outline: "\e911";
$ionicon-arrow-forward-outline: "\e912";
$ionicon-arrow-redo-circle-outline: "\e913";
$ionicon-arrow-redo-outline: "\e914";
$ionicon-arrow-undo-circle-outline: "\e915";
$ionicon-arrow-undo-outline: "\e916";
$ionicon-arrow-up-circle-outline: "\e917";
$ionicon-arrow-up-outline: "\e918";
$ionicon-at-circle-outline: "\e919";
$ionicon-at-outline: "\e91a";
$ionicon-attach-outline: "\e91b";
$ionicon-backspace-outline: "\e91c";
$ionicon-bag-add-outline: "\e91d";
$ionicon-bag-check-outline: "\e91e";
$ionicon-bag-handle-outline: "\e91f";
$ionicon-bag-outline: "\e920";
$ionicon-bag-remove-outline: "\e921";
$ionicon-balloon-outline: "\e922";
$ionicon-bandage-outline: "\e923";
$ionicon-ban-outline: "\e924";
$ionicon-barbell-outline: "\e925";
$ionicon-bar-chart-outline: "\e926";
$ionicon-barcode-outline: "\e927";
$ionicon-baseball-outline: "\e928";
$ionicon-basketball-outline: "\e929";
$ionicon-basket-outline: "\e92a";
$ionicon-battery-charging-outline: "\e92b";
$ionicon-battery-dead-outline: "\e92c";
$ionicon-battery-full-outline: "\e92d";
$ionicon-battery-half-outline: "\e92e";
$ionicon-beaker-outline: "\e92f";
$ionicon-bed-outline: "\e930";
$ionicon-beer-outline: "\e931";
$ionicon-bicycle-outline: "\e932";
$ionicon-bluetooth-outline: "\e933";
$ionicon-boat-outline: "\e934";
$ionicon-body-outline: "\e935";
$ionicon-bonfire-outline: "\e936";
$ionicon-bookmark-outline: "\e937";
$ionicon-bookmarks-outline: "\e938";
$ionicon-book-outline: "\e939";
$ionicon-bowling-ball-outline: "\e93a";
$ionicon-briefcase-outline: "\e93b";
$ionicon-browsers-outline: "\e93c";
$ionicon-brush-outline: "\e93d";
$ionicon-bug-outline: "\e93e";
$ionicon-build-outline: "\e93f";
$ionicon-bulb-outline: "\e940";
$ionicon-business-outline: "\e941";
$ionicon-bus-outline: "\e942";
$ionicon-cafe-outline: "\e943";
$ionicon-calculator-outline: "\e944";
$ionicon-calendar-clear-outline: "\e945";
$ionicon-calendar-number-outline: "\e946";
$ionicon-calendar-outline: "\e947";
$ionicon-call-outline: "\e948";
$ionicon-camera-outline: "\e949";
$ionicon-camera-reverse-outline: "\e94a";
$ionicon-card-outline: "\e94b";
$ionicon-caret-back-circle-outline: "\e94c";
$ionicon-caret-back-outline: "\e94d";
$ionicon-caret-down-circle-outline: "\e94e";
$ionicon-caret-down-outline: "\e94f";
$ionicon-caret-forward-circle-outline: "\e950";
$ionicon-caret-forward-outline: "\e951";
$ionicon-caret-up-circle-outline: "\e952";
$ionicon-caret-up-outline: "\e953";
$ionicon-car-outline: "\e954";
$ionicon-car-sport-outline: "\e955";
$ionicon-cart-outline: "\e956";
$ionicon-cash-outline: "\e957";
$ionicon-cellular-outline: "\e958";
$ionicon-chatbox-ellipses-outline: "\e959";
$ionicon-chatbox-outline: "\e95a";
$ionicon-chatbubble-ellipses-outline: "\e95b";
$ionicon-chatbubble-outline: "\e95c";
$ionicon-chatbubbles-outline: "\e95d";
$ionicon-checkbox-outline: "\e95e";
$ionicon-checkmark-circle-outline: "\e95f";
$ionicon-checkmark-done-circle-outline: "\e960";
$ionicon-checkmark-done-outline: "\e961";
$ionicon-checkmark-outline: "\e962";
$ionicon-chevron-back-circle-outline: "\e963";
$ionicon-chevron-back-outline: "\e964";
$ionicon-chevron-down-circle-outline: "\e965";
$ionicon-chevron-down-outline: "\e966";
$ionicon-chevron-forward-circle-outline: "\e967";
$ionicon-chevron-forward-outline: "\e968";
$ionicon-chevron-up-circle-outline: "\e969";
$ionicon-chevron-up-outline: "\e96a";
$ionicon-clipboard-outline: "\e96b";
$ionicon-close-circle-outline: "\e96c";
$ionicon-close-outline: "\e96d";
$ionicon-cloud-circle-outline: "\e96e";
$ionicon-cloud-done-outline: "\e96f";
$ionicon-cloud-download-outline: "\e970";
$ionicon-cloud-offline-outline: "\e971";
$ionicon-cloud-outline: "\e972";
$ionicon-cloud-upload-outline: "\e973";
$ionicon-cloudy-night-outline: "\e974";
$ionicon-cloudy-outline: "\e975";
$ionicon-code-download-outline: "\e976";
$ionicon-code-outline: "\e977";
$ionicon-code-slash-outline: "\e978";
$ionicon-code-working-outline: "\e979";
$ionicon-cog-outline: "\e97a";
$ionicon-color-fill-outline: "\e97b";
$ionicon-color-filter-outline: "\e97c";
$ionicon-color-palette-outline: "\e97d";
$ionicon-color-wand-outline: "\e97e";
$ionicon-compass-outline: "\e97f";
$ionicon-construct-outline: "\e980";
$ionicon-contract-outline: "\e981";
$ionicon-contrast-outline: "\e982";
$ionicon-copy-outline: "\e983";
$ionicon-create-outline: "\e984";
$ionicon-crop-outline: "\e985";
$ionicon-cube-outline: "\e986";
$ionicon-cut-outline: "\e987";
$ionicon-desktop-outline: "\e988";
$ionicon-diamond-outline: "\e989";
$ionicon-dice-outline: "\e98a";
$ionicon-disc-outline: "\e98b";
$ionicon-document-attach-outline: "\e98c";
$ionicon-document-lock-outline: "\e98d";
$ionicon-document-outline: "\e98e";
$ionicon-documents-outline: "\e98f";
$ionicon-document-text-outline: "\e990";
$ionicon-download-outline: "\e991";
$ionicon-duplicate-outline: "\e992";
$ionicon-ear-outline: "\e993";
$ionicon-earth-outline: "\e994";
$ionicon-easel-outline: "\e995";
$ionicon-egg-outline: "\e996";
$ionicon-ellipse-outline: "\e997";
$ionicon-ellipsis-horizontal-circle-outline: "\e998";
$ionicon-ellipsis-horizontal-outline: "\e999";
$ionicon-ellipsis-vertical-circle-outline: "\e99a";
$ionicon-ellipsis-vertical-outline: "\e99b";
$ionicon-enter-outline: "\e99c";
$ionicon-exit-outline: "\e99d";
$ionicon-expand-outline: "\e99e";
$ionicon-extension-puzzle-outline: "\e99f";
$ionicon-eyedrop-outline: "\e9a0";
$ionicon-eye-off-outline: "\e9a1";
$ionicon-eye-outline: "\e9a2";
$ionicon-fast-food-outline: "\e9a3";
$ionicon-female-outline: "\e9a4";
$ionicon-file-tray-full-outline: "\e9a5";
$ionicon-file-tray-outline: "\e9a6";
$ionicon-file-tray-stacked-outline: "\e9a7";
$ionicon-film-outline: "\e9a8";
$ionicon-filter-circle-outline: "\e9a9";
$ionicon-filter-outline: "\e9aa";
$ionicon-finger-print-outline: "\e9ab";
$ionicon-fish-outline: "\e9ac";
$ionicon-fitness-outline: "\e9ad";
$ionicon-flag-outline: "\e9ae";
$ionicon-flame-outline: "\e9af";
$ionicon-flashlight-outline: "\e9b0";
$ionicon-flash-off-outline: "\e9b1";
$ionicon-flash-outline: "\e9b2";
$ionicon-flask-outline: "\e9b3";
$ionicon-flower-outline: "\e9b4";
$ionicon-folder-open-outline: "\e9b5";
$ionicon-folder-outline: "\e9b6";
$ionicon-football-outline: "\e9b7";
$ionicon-footsteps-outline: "\e9b8";
$ionicon-funnel-outline: "\e9b9";
$ionicon-game-controller-outline: "\e9ba";
$ionicon-gift-outline: "\e9bb";
$ionicon-git-branch-outline: "\e9bc";
$ionicon-git-commit-outline: "\e9bd";
$ionicon-git-compare-outline: "\e9be";
$ionicon-git-merge-outline: "\e9bf";
$ionicon-git-network-outline: "\e9c0";
$ionicon-git-pull-request-outline: "\e9c1";
$ionicon-glasses-outline: "\e9c2";
$ionicon-globe-outline: "\e9c3";
$ionicon-golf-outline: "\e9c4";
$ionicon-grid-outline: "\e9c5";
$ionicon-hammer-outline: "\e9c6";
$ionicon-hand-left-outline: "\e9c7";
$ionicon-hand-right-outline: "\e9c8";
$ionicon-happy-outline: "\e9c9";
$ionicon-hardware-chip-outline: "\e9ca";
$ionicon-headset-outline: "\e9cb";
$ionicon-heart-circle-outline: "\e9cc";
$ionicon-heart-dislike-circle-outline: "\e9cd";
$ionicon-heart-dislike-outline: "\e9ce";
$ionicon-heart-half-outline: "\e9cf";
$ionicon-heart-outline: "\e9d0";
$ionicon-help-buoy-outline: "\e9d1";
$ionicon-help-circle-outline: "\e9d2";
$ionicon-help-outline: "\e9d3";
$ionicon-home-outline: "\e9d4";
$ionicon-hourglass-outline: "\e9d5";
$ionicon-ice-cream-outline: "\e9d6";
$ionicon-id-card-outline: "\e9d7";
$ionicon-image-outline: "\e9d8";
$ionicon-images-outline: "\e9d9";
$ionicon-infinite-outline: "\e9da";
$ionicon-information-circle-outline: "\e9db";
$ionicon-information-outline: "\e9dc";
$ionicon-invert-mode-outline: "\e9dd";
$ionicon-journal-outline: "\e9de";
$ionicon-key-outline: "\e9df";
$ionicon-keypad-outline: "\e9e0";
$ionicon-language-outline: "\e9e1";
$ionicon-laptop-outline: "\e9e2";
$ionicon-layers-outline: "\e9e3";
$ionicon-leaf-outline: "\e9e4";
$ionicon-library-outline: "\e9e5";
$ionicon-link-outline: "\e9e6";
$ionicon-list-circle-outline: "\e9e7";
$ionicon-list-outline: "\e9e8";
$ionicon-locate-outline: "\e9e9";
$ionicon-location-outline: "\e9ea";
$ionicon-lock-closed-outline: "\e9eb";
$ionicon-lock-open-outline: "\e9ec";
$ionicon-log-in-outline: "\e9ed";
$ionicon-log-out-outline: "\e9ee";
$ionicon-magnet-outline: "\e9ef";
$ionicon-mail-open-outline: "\e9f0";
$ionicon-mail-outline: "\e9f1";
$ionicon-mail-unread-outline: "\e9f2";
$ionicon-male-female-outline: "\e9f3";
$ionicon-male-outline: "\e9f4";
$ionicon-man-outline: "\e9f5";
$ionicon-map-outline: "\e9f6";
$ionicon-medal-outline: "\e9f7";
$ionicon-medical-outline: "\e9f8";
$ionicon-medkit-outline: "\e9f9";
$ionicon-megaphone-outline: "\e9fa";
$ionicon-menu-outline: "\e9fb";
$ionicon-mic-circle-outline: "\e9fc";
$ionicon-mic-off-circle-outline: "\e9fd";
$ionicon-mic-off-outline: "\e9fe";
$ionicon-mic-outline: "\e9ff";
$ionicon-moon-outline: "\ea00";
$ionicon-move-outline: "\ea01";
$ionicon-musical-note-outline: "\ea02";
$ionicon-musical-notes-outline: "\ea03";
$ionicon-navigate-circle-outline: "\ea04";
$ionicon-navigate-outline: "\ea05";
$ionicon-newspaper-outline: "\ea06";
$ionicon-notifications-circle-outline: "\ea07";
$ionicon-notifications-off-circle-outline: "\ea08";
$ionicon-notifications-off-outline: "\ea09";
$ionicon-notifications-outline: "\ea0a";
$ionicon-nuclear-outline: "\ea0b";
$ionicon-nutrition-outline: "\ea0c";
$ionicon-open-outline: "\ea0d";
$ionicon-options-outline: "\ea0e";
$ionicon-paper-plane-outline: "\ea0f";
$ionicon-partly-sunny-outline: "\ea10";
$ionicon-pause-circle-outline: "\ea11";
$ionicon-pause-outline: "\ea12";
$ionicon-paw-outline: "\ea13";
$ionicon-pencil-outline: "\ea14";
$ionicon-people-circle-outline: "\ea15";
$ionicon-people-outline: "\ea16";
$ionicon-person-add-outline: "\ea17";
$ionicon-person-circle-outline: "\ea18";
$ionicon-person-outline: "\ea19";
$ionicon-person-remove-outline: "\ea1a";
$ionicon-phone-landscape-outline: "\ea1b";
$ionicon-phone-portrait-outline: "\ea1c";
$ionicon-pie-chart-outline: "\ea1d";
$ionicon-pin-outline: "\ea1e";
$ionicon-pint-outline: "\ea1f";
$ionicon-pizza-outline: "\ea20";
$ionicon-planet-outline: "\ea21";
$ionicon-play-back-circle-outline: "\ea22";
$ionicon-play-back-outline: "\ea23";
$ionicon-play-circle-outline: "\ea24";
$ionicon-play-forward-circle-outline: "\ea25";
$ionicon-play-forward-outline: "\ea26";
$ionicon-play-outline: "\ea27";
$ionicon-play-skip-back-circle-outline: "\ea28";
$ionicon-play-skip-back-outline: "\ea29";
$ionicon-play-skip-forward-circle-outline: "\ea2a";
$ionicon-play-skip-forward-outline: "\ea2b";
$ionicon-podium-outline: "\ea2c";
$ionicon-power-outline: "\ea2d";
$ionicon-pricetag-outline: "\ea2e";
$ionicon-pricetags-outline: "\ea2f";
$ionicon-print-outline: "\ea30";
$ionicon-prism-outline: "\ea31";
$ionicon-pulse-outline: "\ea32";
$ionicon-push-outline: "\ea33";
$ionicon-qr-code-outline: "\ea34";
$ionicon-radio-button-off-outline: "\ea35";
$ionicon-radio-button-on-outline: "\ea36";
$ionicon-radio-outline: "\ea37";
$ionicon-rainy-outline: "\ea38";
$ionicon-reader-outline: "\ea39";
$ionicon-receipt-outline: "\ea3a";
$ionicon-recording-outline: "\ea3b";
$ionicon-refresh-circle-outline: "\ea3c";
$ionicon-refresh-outline: "\ea3d";
$ionicon-reload-circle-outline: "\ea3e";
$ionicon-reload-outline: "\ea3f";
$ionicon-remove-circle-outline: "\ea40";
$ionicon-remove-outline: "\ea41";
$ionicon-reorder-four-outline: "\ea42";
$ionicon-reorder-three-outline: "\ea43";
$ionicon-reorder-two-outline: "\ea44";
$ionicon-repeat-outline: "\ea45";
$ionicon-resize-outline: "\ea46";
$ionicon-restaurant-outline: "\ea47";
$ionicon-return-down-back-outline: "\ea48";
$ionicon-return-down-forward-outline: "\ea49";
$ionicon-return-up-back-outline: "\ea4a";
$ionicon-return-up-forward-outline: "\ea4b";
$ionicon-ribbon-outline: "\ea4c";
$ionicon-rocket-outline: "\ea4d";
$ionicon-rose-outline: "\ea4e";
$ionicon-sad-outline: "\ea4f";
$ionicon-save-outline: "\ea50";
$ionicon-scale-outline: "\ea51";
$ionicon-scan-circle-outline: "\ea52";
$ionicon-scan-outline: "\ea53";
$ionicon-school-outline: "\ea54";
$ionicon-search-circle-outline: "\ea55";
$ionicon-search-outline: "\ea56";
$ionicon-send-outline: "\ea57";
$ionicon-server-outline: "\ea58";
$ionicon-settings-outline: "\ea59";
$ionicon-shapes-outline: "\ea5a";
$ionicon-share-outline: "\ea5b";
$ionicon-share-social-outline: "\ea5c";
$ionicon-shield-checkmark-outline: "\ea5d";
$ionicon-shield-half-outline: "\ea5e";
$ionicon-shield-outline: "\ea5f";
$ionicon-shirt-outline: "\ea60";
$ionicon-shuffle-outline: "\ea61";
$ionicon-skull-outline: "\ea62";
$ionicon-snow-outline: "\ea63";
$ionicon-sparkles-outline: "\ea64";
$ionicon-speedometer-outline: "\ea65";
$ionicon-square-outline: "\ea66";
$ionicon-star-half-outline: "\ea67";
$ionicon-star-outline: "\ea68";
$ionicon-stats-chart-outline: "\ea69";
$ionicon-stop-circle-outline: "\ea6a";
$ionicon-stop-outline: "\ea6b";
$ionicon-stopwatch-outline: "\ea6c";
$ionicon-storefront-outline: "\ea6d";
$ionicon-subway-outline: "\ea6e";
$ionicon-sunny-outline: "\ea6f";
$ionicon-swap-horizontal-outline: "\ea70";
$ionicon-swap-vertical-outline: "\ea71";
$ionicon-sync-circle-outline: "\ea72";
$ionicon-sync-outline: "\ea73";
$ionicon-tablet-landscape-outline: "\ea74";
$ionicon-tablet-portrait-outline: "\ea75";
$ionicon-telescope-outline: "\ea76";
$ionicon-tennisball-outline: "\ea77";
$ionicon-terminal-outline: "\ea78";
$ionicon-text-outline: "\ea79";
$ionicon-thermometer-outline: "\ea7a";
$ionicon-thumbs-down-outline: "\ea7b";
$ionicon-thumbs-up-outline: "\ea7c";
$ionicon-thunderstorm-outline: "\ea7d";
$ionicon-ticket-outline: "\ea7e";
$ionicon-time-outline: "\ea7f";
$ionicon-timer-outline: "\ea80";
$ionicon-today-outline: "\ea81";
$ionicon-toggle-outline: "\ea82";
$ionicon-trail-sign-outline: "\ea83";
$ionicon-train-outline: "\ea84";
$ionicon-transgender-outline: "\ea85";
$ionicon-trash-bin-outline: "\ea86";
$ionicon-trash-outline: "\ea87";
$ionicon-trending-down-outline: "\ea88";
$ionicon-trending-up-outline: "\ea89";
$ionicon-triangle-outline: "\ea8a";
$ionicon-trophy-outline: "\ea8b";
$ionicon-tv-outline: "\ea8c";
$ionicon-umbrella-outline: "\ea8d";
$ionicon-unlink-outline: "\ea8e";
$ionicon-videocam-off-outline: "\ea8f";
$ionicon-videocam-outline: "\ea90";
$ionicon-volume-high-outline: "\ea91";
$ionicon-volume-low-outline: "\ea92";
$ionicon-volume-medium-outline: "\ea93";
$ionicon-volume-mute-outline: "\ea94";
$ionicon-volume-off-outline: "\ea95";
$ionicon-walk-outline: "\ea96";
$ionicon-wallet-outline: "\ea97";
$ionicon-warning-outline: "\ea98";
$ionicon-watch-outline: "\ea99";
$ionicon-water-outline: "\ea9a";
$ionicon-wifi-outline: "\ea9b";
$ionicon-wine-outline: "\ea9c";
$ionicon-woman-outline: "\ea9d";

