$icomoon-font-family: "ionicon" !default;
$icomoon-font-path: "fonts" !default;

$ionicon-accessibility-sharp: "\e900";
$ionicon-add-circle-sharp: "\e901";
$ionicon-add-sharp: "\e902";
$ionicon-airplane-sharp: "\e903";
$ionicon-alarm-sharp: "\e904";
$ionicon-albums-sharp: "\e905";
$ionicon-alert-circle-sharp: "\e906";
$ionicon-alert-sharp: "\e907";
$ionicon-american-football-sharp: "\e908";
$ionicon-analytics-sharp: "\e909";
$ionicon-aperture-sharp: "\e90a";
$ionicon-apps-sharp: "\e90b";
$ionicon-archive-sharp: "\e90c";
$ionicon-arrow-back-circle-sharp: "\e90d";
$ionicon-arrow-back-sharp: "\e90e";
$ionicon-arrow-down-circle-sharp: "\e90f";
$ionicon-arrow-down-sharp: "\e910";
$ionicon-arrow-forward-circle-sharp: "\e911";
$ionicon-arrow-forward-sharp: "\e912";
$ionicon-arrow-redo-circle-sharp: "\e913";
$ionicon-arrow-redo-sharp: "\e914";
$ionicon-arrow-undo-circle-sharp: "\e915";
$ionicon-arrow-undo-sharp: "\e916";
$ionicon-arrow-up-circle-sharp: "\e917";
$ionicon-arrow-up-sharp: "\e918";
$ionicon-at-circle-sharp: "\e919";
$ionicon-at-sharp: "\e91a";
$ionicon-attach-sharp: "\e91b";
$ionicon-backspace-sharp: "\e91c";
$ionicon-bag-add-sharp: "\e91d";
$ionicon-bag-check-sharp: "\e91e";
$ionicon-bag-handle-sharp: "\e91f";
$ionicon-bag-remove-sharp: "\e920";
$ionicon-bag-sharp: "\e921";
$ionicon-balloon-sharp: "\e922";
$ionicon-bandage-sharp: "\e923";
$ionicon-ban-sharp: "\e924";
$ionicon-barbell-sharp: "\e925";
$ionicon-bar-chart-sharp: "\e926";
$ionicon-barcode-sharp: "\e927";
$ionicon-baseball-sharp: "\e928";
$ionicon-basketball-sharp: "\e929";
$ionicon-basket-sharp: "\e92a";
$ionicon-battery-charging-sharp: "\e92b";
$ionicon-battery-dead-sharp: "\e92c";
$ionicon-battery-full-sharp: "\e92d";
$ionicon-battery-half-sharp: "\e92e";
$ionicon-beaker-sharp: "\e92f";
$ionicon-bed-sharp: "\e930";
$ionicon-beer-sharp: "\e931";
$ionicon-bicycle-sharp: "\e932";
$ionicon-bluetooth-sharp: "\e933";
$ionicon-boat-sharp: "\e934";
$ionicon-body-sharp: "\e935";
$ionicon-bonfire-sharp: "\e936";
$ionicon-bookmark-sharp: "\e937";
$ionicon-bookmarks-sharp: "\e938";
$ionicon-book-sharp: "\e939";
$ionicon-bowling-ball-sharp: "\e93a";
$ionicon-briefcase-sharp: "\e93b";
$ionicon-browsers-sharp: "\e93c";
$ionicon-brush-sharp: "\e93d";
$ionicon-bug-sharp: "\e93e";
$ionicon-build-sharp: "\e93f";
$ionicon-bulb-sharp: "\e940";
$ionicon-business-sharp: "\e941";
$ionicon-bus-sharp: "\e942";
$ionicon-cafe-sharp: "\e943";
$ionicon-calculator-sharp: "\e944";
$ionicon-calendar-clear-sharp: "\e945";
$ionicon-calendar-number-sharp: "\e946";
$ionicon-calendar-sharp: "\e947";
$ionicon-call-sharp: "\e948";
$ionicon-camera-reverse-sharp: "\e949";
$ionicon-camera-sharp: "\e94a";
$ionicon-card-sharp: "\e94b";
$ionicon-caret-back-circle-sharp: "\e94c";
$ionicon-caret-back-sharp: "\e94d";
$ionicon-caret-down-circle-sharp: "\e94e";
$ionicon-caret-down-sharp: "\e94f";
$ionicon-caret-forward-circle-sharp: "\e950";
$ionicon-caret-forward-sharp: "\e951";
$ionicon-caret-up-circle-sharp: "\e952";
$ionicon-caret-up-sharp: "\e953";
$ionicon-car-sharp: "\e954";
$ionicon-car-sport-sharp: "\e955";
$ionicon-cart-sharp: "\e956";
$ionicon-cash-sharp: "\e957";
$ionicon-cellular-sharp: "\e958";
$ionicon-chatbox-ellipses-sharp: "\e959";
$ionicon-chatbox-sharp: "\e95a";
$ionicon-chatbubble-ellipses-sharp: "\e95b";
$ionicon-chatbubble-sharp: "\e95c";
$ionicon-chatbubbles-sharp: "\e95d";
$ionicon-checkbox-sharp: "\e95e";
$ionicon-checkmark-circle-sharp: "\e95f";
$ionicon-checkmark-done-circle-sharp: "\e960";
$ionicon-checkmark-done-sharp: "\e961";
$ionicon-checkmark-sharp: "\e962";
$ionicon-chevron-back-circle-sharp: "\e963";
$ionicon-chevron-back-sharp: "\e964";
$ionicon-chevron-down-circle-sharp: "\e965";
$ionicon-chevron-down-sharp: "\e966";
$ionicon-chevron-forward-circle-sharp: "\e967";
$ionicon-chevron-forward-sharp: "\e968";
$ionicon-chevron-up-circle-sharp: "\e969";
$ionicon-chevron-up-sharp: "\e96a";
$ionicon-clipboard-sharp: "\e96b";
$ionicon-close-circle-sharp: "\e96c";
$ionicon-close-sharp: "\e96d";
$ionicon-cloud-circle-sharp: "\e96e";
$ionicon-cloud-done-sharp: "\e96f";
$ionicon-cloud-download-sharp: "\e970";
$ionicon-cloud-offline-sharp: "\e971";
$ionicon-cloud-sharp: "\e972";
$ionicon-cloud-upload-sharp: "\e973";
$ionicon-cloudy-night-sharp: "\e974";
$ionicon-cloudy-sharp: "\e975";
$ionicon-code-download-sharp: "\e976";
$ionicon-code-sharp: "\e977";
$ionicon-code-slash-sharp: "\e978";
$ionicon-code-working-sharp: "\e979";
$ionicon-cog-sharp: "\e97a";
$ionicon-color-fill-sharp: "\e97b";
$ionicon-color-filter-sharp: "\e97c";
$ionicon-color-palette-sharp: "\e97d";
$ionicon-color-wand-sharp: "\e97e";
$ionicon-compass-sharp: "\e97f";
$ionicon-construct-sharp: "\e980";
$ionicon-contract-sharp: "\e981";
$ionicon-contrast-sharp: "\e982";
$ionicon-copy-sharp: "\e983";
$ionicon-create-sharp: "\e984";
$ionicon-crop-sharp: "\e985";
$ionicon-cube-sharp: "\e986";
$ionicon-cut-sharp: "\e987";
$ionicon-desktop-sharp: "\e988";
$ionicon-diamond-sharp: "\e989";
$ionicon-dice-sharp: "\e98a";
$ionicon-disc-sharp: "\e98b";
$ionicon-document-attach-sharp: "\e98c";
$ionicon-document-lock-sharp: "\e98d";
$ionicon-document-sharp: "\e98e";
$ionicon-documents-sharp: "\e98f";
$ionicon-document-text-sharp: "\e990";
$ionicon-download-sharp: "\e991";
$ionicon-duplicate-sharp: "\e992";
$ionicon-ear-sharp: "\e993";
$ionicon-earth-sharp: "\e994";
$ionicon-easel-sharp: "\e995";
$ionicon-egg-sharp: "\e996";
$ionicon-ellipse-sharp: "\e997";
$ionicon-ellipsis-horizontal-circle-sharp: "\e998";
$ionicon-ellipsis-horizontal-sharp: "\e999";
$ionicon-ellipsis-vertical-circle-sharp: "\e99a";
$ionicon-ellipsis-vertical-sharp: "\e99b";
$ionicon-enter-sharp: "\e99c";
$ionicon-exit-sharp: "\e99d";
$ionicon-expand-sharp: "\e99e";
$ionicon-extension-puzzle-sharp: "\e99f";
$ionicon-eyedrop-sharp: "\e9a0";
$ionicon-eye-off-sharp: "\e9a1";
$ionicon-eye-sharp: "\e9a2";
$ionicon-fast-food-sharp: "\e9a3";
$ionicon-female-sharp: "\e9a4";
$ionicon-file-tray-full-sharp: "\e9a5";
$ionicon-file-tray-sharp: "\e9a6";
$ionicon-file-tray-stacked-sharp: "\e9a7";
$ionicon-film-sharp: "\e9a8";
$ionicon-filter-circle-sharp: "\e9a9";
$ionicon-filter-sharp: "\e9aa";
$ionicon-finger-print-sharp: "\e9ab";
$ionicon-fish-sharp: "\e9ac";
$ionicon-fitness-sharp: "\e9ad";
$ionicon-flag-sharp: "\e9ae";
$ionicon-flame-sharp: "\e9af";
$ionicon-flashlight-sharp: "\e9b0";
$ionicon-flash-off-sharp: "\e9b1";
$ionicon-flash-sharp: "\e9b2";
$ionicon-flask-sharp: "\e9b3";
$ionicon-flower-sharp: "\e9b4";
$ionicon-folder-open-sharp: "\e9b5";
$ionicon-folder-sharp: "\e9b6";
$ionicon-football-sharp: "\e9b7";
$ionicon-footsteps-sharp: "\e9b8";
$ionicon-funnel-sharp: "\e9b9";
$ionicon-game-controller-sharp: "\e9ba";
$ionicon-gift-sharp: "\e9bb";
$ionicon-git-branch-sharp: "\e9bc";
$ionicon-git-commit-sharp: "\e9bd";
$ionicon-git-compare-sharp: "\e9be";
$ionicon-git-merge-sharp: "\e9bf";
$ionicon-git-network-sharp: "\e9c0";
$ionicon-git-pull-request-sharp: "\e9c1";
$ionicon-glasses-sharp: "\e9c2";
$ionicon-globe-sharp: "\e9c3";
$ionicon-golf-sharp: "\e9c4";
$ionicon-grid-sharp: "\e9c5";
$ionicon-hammer-sharp: "\e9c6";
$ionicon-hand-left-sharp: "\e9c7";
$ionicon-hand-right-sharp: "\e9c8";
$ionicon-happy-sharp: "\e9c9";
$ionicon-hardware-chip-sharp: "\e9ca";
$ionicon-headset-sharp: "\e9cb";
$ionicon-heart-circle-sharp: "\e9cc";
$ionicon-heart-dislike-circle-sharp: "\e9cd";
$ionicon-heart-dislike-sharp: "\e9ce";
$ionicon-heart-half-sharp: "\e9cf";
$ionicon-heart-sharp: "\e9d0";
$ionicon-help-buoy-sharp: "\e9d1";
$ionicon-help-circle-sharp: "\e9d2";
$ionicon-help-sharp: "\e9d3";
$ionicon-home-sharp: "\e9d4";
$ionicon-hourglass-sharp: "\e9d5";
$ionicon-ice-cream-sharp: "\e9d6";
$ionicon-id-card-sharp: "\e9d7";
$ionicon-image-sharp: "\e9d8";
$ionicon-images-sharp: "\e9d9";
$ionicon-infinite-sharp: "\e9da";
$ionicon-information-circle-sharp: "\e9db";
$ionicon-information-sharp: "\e9dc";
$ionicon-invert-mode-sharp: "\e9dd";
$ionicon-journal-sharp: "\e9de";
$ionicon-keypad-sharp: "\e9df";
$ionicon-key-sharp: "\e9e0";
$ionicon-language-sharp: "\e9e1";
$ionicon-laptop-sharp: "\e9e2";
$ionicon-layers-sharp: "\e9e3";
$ionicon-leaf-sharp: "\e9e4";
$ionicon-library-sharp: "\e9e5";
$ionicon-link-sharp: "\e9e6";
$ionicon-list-circle-sharp: "\e9e7";
$ionicon-list-sharp: "\e9e8";
$ionicon-locate-sharp: "\e9e9";
$ionicon-location-sharp: "\e9ea";
$ionicon-lock-closed-sharp: "\e9eb";
$ionicon-lock-open-sharp: "\e9ec";
$ionicon-log-in-sharp: "\e9ed";
$ionicon-log-out-sharp: "\e9ee";
$ionicon-magnet-sharp: "\e9ef";
$ionicon-mail-open-sharp: "\e9f0";
$ionicon-mail-sharp: "\e9f1";
$ionicon-mail-unread-sharp: "\e9f2";
$ionicon-male-female-sharp: "\e9f3";
$ionicon-male-sharp: "\e9f4";
$ionicon-man-sharp: "\e9f5";
$ionicon-map-sharp: "\e9f6";
$ionicon-medal-sharp: "\e9f7";
$ionicon-medical-sharp: "\e9f8";
$ionicon-medkit-sharp: "\e9f9";
$ionicon-megaphone-sharp: "\e9fa";
$ionicon-menu-sharp: "\e9fb";
$ionicon-mic-circle-sharp: "\e9fc";
$ionicon-mic-off-circle-sharp: "\e9fd";
$ionicon-mic-off-sharp: "\e9fe";
$ionicon-mic-sharp: "\e9ff";
$ionicon-moon-sharp: "\ea00";
$ionicon-move-sharp: "\ea01";
$ionicon-musical-note-sharp: "\ea02";
$ionicon-musical-notes-sharp: "\ea03";
$ionicon-navigate-circle-sharp: "\ea04";
$ionicon-navigate-sharp: "\ea05";
$ionicon-newspaper-sharp: "\ea06";
$ionicon-notifications-circle-sharp: "\ea07";
$ionicon-notifications-off-circle-sharp: "\ea08";
$ionicon-notifications-off-sharp: "\ea09";
$ionicon-notifications-sharp: "\ea0a";
$ionicon-nuclear-sharp: "\ea0b";
$ionicon-nutrition-sharp: "\ea0c";
$ionicon-open-sharp: "\ea0d";
$ionicon-options-sharp: "\ea0e";
$ionicon-paper-plane-sharp: "\ea0f";
$ionicon-partly-sunny-sharp: "\ea10";
$ionicon-pause-circle-sharp: "\ea11";
$ionicon-pause-sharp: "\ea12";
$ionicon-paw-sharp: "\ea13";
$ionicon-pencil-sharp: "\ea14";
$ionicon-people-circle-sharp: "\ea15";
$ionicon-people-sharp: "\ea16";
$ionicon-person-add-sharp: "\ea17";
$ionicon-person-circle-sharp: "\ea18";
$ionicon-person-remove-sharp: "\ea19";
$ionicon-person-sharp: "\ea1a";
$ionicon-phone-landscape-sharp: "\ea1b";
$ionicon-phone-portrait-sharp: "\ea1c";
$ionicon-pie-chart-sharp: "\ea1d";
$ionicon-pin-sharp: "\ea1e";
$ionicon-pint-sharp: "\ea1f";
$ionicon-pizza-sharp: "\ea20";
$ionicon-planet-sharp: "\ea21";
$ionicon-play-back-circle-sharp: "\ea22";
$ionicon-play-back-sharp: "\ea23";
$ionicon-play-circle-sharp: "\ea24";
$ionicon-play-forward-circle-sharp: "\ea25";
$ionicon-play-forward-sharp: "\ea26";
$ionicon-play-sharp: "\ea27";
$ionicon-play-skip-back-circle-sharp: "\ea28";
$ionicon-play-skip-back-sharp: "\ea29";
$ionicon-play-skip-forward-circle-sharp: "\ea2a";
$ionicon-play-skip-forward-sharp: "\ea2b";
$ionicon-podium-sharp: "\ea2c";
$ionicon-power-sharp: "\ea2d";
$ionicon-pricetag-sharp: "\ea2e";
$ionicon-pricetags-sharp: "\ea2f";
$ionicon-print-sharp: "\ea30";
$ionicon-prism-sharp: "\ea31";
$ionicon-pulse-sharp: "\ea32";
$ionicon-push-sharp: "\ea33";
$ionicon-qr-code-sharp: "\ea34";
$ionicon-radio-button-off-sharp: "\ea35";
$ionicon-radio-button-on-sharp: "\ea36";
$ionicon-radio-sharp: "\ea37";
$ionicon-rainy-sharp: "\ea38";
$ionicon-reader-sharp: "\ea39";
$ionicon-receipt-sharp: "\ea3a";
$ionicon-recording-sharp: "\ea3b";
$ionicon-refresh-circle-sharp: "\ea3c";
$ionicon-refresh-sharp: "\ea3d";
$ionicon-reload-circle-sharp: "\ea3e";
$ionicon-reload-sharp: "\ea3f";
$ionicon-remove-circle-sharp: "\ea40";
$ionicon-remove-sharp: "\ea41";
$ionicon-reorder-four-sharp: "\ea42";
$ionicon-reorder-three-sharp: "\ea43";
$ionicon-reorder-two-sharp: "\ea44";
$ionicon-repeat-sharp: "\ea45";
$ionicon-resize-sharp: "\ea46";
$ionicon-restaurant-sharp: "\ea47";
$ionicon-return-down-back-sharp: "\ea48";
$ionicon-return-down-forward-sharp: "\ea49";
$ionicon-return-up-back-sharp: "\ea4a";
$ionicon-return-up-forward-sharp: "\ea4b";
$ionicon-ribbon-sharp: "\ea4c";
$ionicon-rocket-sharp: "\ea4d";
$ionicon-rose-sharp: "\ea4e";
$ionicon-sad-sharp: "\ea4f";
$ionicon-save-sharp: "\ea50";
$ionicon-scale-sharp: "\ea51";
$ionicon-scan-circle-sharp: "\ea52";
$ionicon-scan-sharp: "\ea53";
$ionicon-school-sharp: "\ea54";
$ionicon-search-circle-sharp: "\ea55";
$ionicon-search-sharp: "\ea56";
$ionicon-send-sharp: "\ea57";
$ionicon-server-sharp: "\ea58";
$ionicon-settings-sharp: "\ea59";
$ionicon-shapes-sharp: "\ea5a";
$ionicon-share-sharp: "\ea5b";
$ionicon-share-social-sharp: "\ea5c";
$ionicon-shield-checkmark-sharp: "\ea5d";
$ionicon-shield-half-sharp: "\ea5e";
$ionicon-shield-sharp: "\ea5f";
$ionicon-shirt-sharp: "\ea60";
$ionicon-shuffle-sharp: "\ea61";
$ionicon-skull-sharp: "\ea62";
$ionicon-snow-sharp: "\ea63";
$ionicon-sparkles-sharp: "\ea64";
$ionicon-speedometer-sharp: "\ea65";
$ionicon-square-sharp: "\ea66";
$ionicon-star-half-sharp: "\ea67";
$ionicon-star-sharp: "\ea68";
$ionicon-stats-chart-sharp: "\ea69";
$ionicon-stop-circle-sharp: "\ea6a";
$ionicon-stop-sharp: "\ea6b";
$ionicon-stopwatch-sharp: "\ea6c";
$ionicon-storefront-sharp: "\ea6d";
$ionicon-subway-sharp: "\ea6e";
$ionicon-sunny-sharp: "\ea6f";
$ionicon-swap-horizontal-sharp: "\ea70";
$ionicon-swap-vertical-sharp: "\ea71";
$ionicon-sync-circle-sharp: "\ea72";
$ionicon-sync-sharp: "\ea73";
$ionicon-tablet-landscape-sharp: "\ea74";
$ionicon-tablet-portrait-sharp: "\ea75";
$ionicon-telescope-sharp: "\ea76";
$ionicon-tennisball-sharp: "\ea77";
$ionicon-terminal-sharp: "\ea78";
$ionicon-text-sharp: "\ea79";
$ionicon-thermometer-sharp: "\ea7a";
$ionicon-thumbs-down-sharp: "\ea7b";
$ionicon-thumbs-up-sharp: "\ea7c";
$ionicon-thunderstorm-sharp: "\ea7d";
$ionicon-ticket-sharp: "\ea7e";
$ionicon-timer-sharp: "\ea7f";
$ionicon-time-sharp: "\ea80";
$ionicon-today-sharp: "\ea81";
$ionicon-toggle-sharp: "\ea82";
$ionicon-trail-sign-sharp: "\ea83";
$ionicon-train-sharp: "\ea84";
$ionicon-transgender-sharp: "\ea85";
$ionicon-trash-bin-sharp: "\ea86";
$ionicon-trash-sharp: "\ea87";
$ionicon-trending-down-sharp: "\ea88";
$ionicon-trending-up-sharp: "\ea89";
$ionicon-triangle-sharp: "\ea8a";
$ionicon-trophy-sharp: "\ea8b";
$ionicon-tv-sharp: "\ea8c";
$ionicon-umbrella-sharp: "\ea8d";
$ionicon-unlink-sharp: "\ea8e";
$ionicon-videocam-off-sharp: "\ea8f";
$ionicon-videocam-sharp: "\ea90";
$ionicon-volume-high-sharp: "\ea91";
$ionicon-volume-low-sharp: "\ea92";
$ionicon-volume-medium-sharp: "\ea93";
$ionicon-volume-mute-sharp: "\ea94";
$ionicon-volume-off-sharp: "\ea95";
$ionicon-walk-sharp: "\ea96";
$ionicon-wallet-sharp: "\ea97";
$ionicon-warning-sharp: "\ea98";
$ionicon-watch-sharp: "\ea99";
$ionicon-water-sharp: "\ea9a";
$ionicon-wifi-sharp: "\ea9b";
$ionicon-wine-sharp: "\ea9c";
$ionicon-woman-sharp: "\ea9d";

