$icomoon-font-family: "ionicon" !default;
$icomoon-font-path: "fonts" !default;

$ionicon-accessibility: "\e900";
$ionicon-add: "\e901";
$ionicon-add-circle: "\e902";
$ionicon-airplane: "\e903";
$ionicon-alarm: "\e904";
$ionicon-albums: "\e905";
$ionicon-alert: "\e906";
$ionicon-alert-circle: "\e907";
$ionicon-american-football: "\e908";
$ionicon-analytics: "\e909";
$ionicon-aperture: "\e90a";
$ionicon-apps: "\e90b";
$ionicon-archive: "\e90c";
$ionicon-arrow-back: "\e90d";
$ionicon-arrow-back-circle: "\e90e";
$ionicon-arrow-down: "\e90f";
$ionicon-arrow-down-circle: "\e910";
$ionicon-arrow-forward: "\e911";
$ionicon-arrow-forward-circle: "\e912";
$ionicon-arrow-redo: "\e913";
$ionicon-arrow-redo-circle: "\e914";
$ionicon-arrow-undo: "\e915";
$ionicon-arrow-undo-circle: "\e916";
$ionicon-arrow-up: "\e917";
$ionicon-arrow-up-circle: "\e918";
$ionicon-at: "\e919";
$ionicon-at-circle: "\e91a";
$ionicon-attach: "\e91b";
$ionicon-backspace: "\e91c";
$ionicon-bag: "\e91d";
$ionicon-bag-add: "\e91e";
$ionicon-bag-check: "\e91f";
$ionicon-bag-handle: "\e920";
$ionicon-bag-remove: "\e921";
$ionicon-balloon: "\e922";
$ionicon-ban: "\e923";
$ionicon-bandage: "\e924";
$ionicon-barbell: "\e925";
$ionicon-bar-chart: "\e926";
$ionicon-barcode: "\e927";
$ionicon-baseball: "\e928";
$ionicon-basket: "\e929";
$ionicon-basketball: "\e92a";
$ionicon-battery-charging: "\e92b";
$ionicon-battery-dead: "\e92c";
$ionicon-battery-full: "\e92d";
$ionicon-battery-half: "\e92e";
$ionicon-beaker: "\e92f";
$ionicon-bed: "\e930";
$ionicon-beer: "\e931";
$ionicon-bicycle: "\e932";
$ionicon-bluetooth: "\e933";
$ionicon-boat: "\e934";
$ionicon-body: "\e935";
$ionicon-bonfire: "\e936";
$ionicon-book: "\e937";
$ionicon-bookmark: "\e938";
$ionicon-bookmarks: "\e939";
$ionicon-bowling-ball: "\e93a";
$ionicon-briefcase: "\e93b";
$ionicon-browsers: "\e93c";
$ionicon-brush: "\e93d";
$ionicon-bug: "\e93e";
$ionicon-build: "\e93f";
$ionicon-bulb: "\e940";
$ionicon-bus: "\e941";
$ionicon-business: "\e942";
$ionicon-cafe: "\e943";
$ionicon-calculator: "\e944";
$ionicon-calendar: "\e945";
$ionicon-calendar-clear: "\e946";
$ionicon-calendar-number: "\e947";
$ionicon-call: "\e948";
$ionicon-camera: "\e949";
$ionicon-camera-reverse: "\e94a";
$ionicon-car: "\e94b";
$ionicon-card: "\e94c";
$ionicon-caret-back: "\e94d";
$ionicon-caret-back-circle: "\e94e";
$ionicon-caret-down: "\e94f";
$ionicon-caret-down-circle: "\e950";
$ionicon-caret-forward: "\e951";
$ionicon-caret-forward-circle: "\e952";
$ionicon-caret-up: "\e953";
$ionicon-caret-up-circle: "\e954";
$ionicon-car-sport: "\e955";
$ionicon-cart: "\e956";
$ionicon-cash: "\e957";
$ionicon-cellular: "\e958";
$ionicon-chatbox: "\e959";
$ionicon-chatbox-ellipses: "\e95a";
$ionicon-chatbubble: "\e95b";
$ionicon-chatbubble-ellipses: "\e95c";
$ionicon-chatbubbles: "\e95d";
$ionicon-checkbox: "\e95e";
$ionicon-checkmark: "\e95f";
$ionicon-checkmark-circle: "\e960";
$ionicon-checkmark-done: "\e961";
$ionicon-checkmark-done-circle: "\e962";
$ionicon-chevron-back: "\e963";
$ionicon-chevron-back-circle: "\e964";
$ionicon-chevron-down: "\e965";
$ionicon-chevron-down-circle: "\e966";
$ionicon-chevron-forward: "\e967";
$ionicon-chevron-forward-circle: "\e968";
$ionicon-chevron-up: "\e969";
$ionicon-chevron-up-circle: "\e96a";
$ionicon-clipboard: "\e96b";
$ionicon-close: "\e96c";
$ionicon-close-circle: "\e96d";
$ionicon-cloud: "\e96e";
$ionicon-cloud-circle: "\e96f";
$ionicon-cloud-done: "\e970";
$ionicon-cloud-download: "\e971";
$ionicon-cloud-offline: "\e972";
$ionicon-cloud-upload: "\e973";
$ionicon-cloudy: "\e974";
$ionicon-cloudy-night: "\e975";
$ionicon-code: "\e976";
$ionicon-code-download: "\e977";
$ionicon-code-slash: "\e978";
$ionicon-code-working: "\e979";
$ionicon-cog: "\e97a";
$ionicon-color-fill: "\e97b";
$ionicon-color-filter: "\e97c";
$ionicon-color-palette: "\e97d";
$ionicon-color-wand: "\e97e";
$ionicon-compass: "\e97f";
$ionicon-construct: "\e980";
$ionicon-contract: "\e981";
$ionicon-contrast: "\e982";
$ionicon-copy: "\e983";
$ionicon-create: "\e984";
$ionicon-crop: "\e985";
$ionicon-cube: "\e986";
$ionicon-cut: "\e987";
$ionicon-desktop: "\e988";
$ionicon-diamond: "\e989";
$ionicon-dice: "\e98a";
$ionicon-disc: "\e98b";
$ionicon-document: "\e98c";
$ionicon-document-attach: "\e98d";
$ionicon-document-lock: "\e98e";
$ionicon-documents: "\e98f";
$ionicon-document-text: "\e990";
$ionicon-download: "\e991";
$ionicon-duplicate: "\e992";
$ionicon-ear: "\e993";
$ionicon-earth: "\e994";
$ionicon-easel: "\e995";
$ionicon-egg: "\e996";
$ionicon-ellipse: "\e997";
$ionicon-ellipsis-horizontal: "\e998";
$ionicon-ellipsis-horizontal-circle: "\e999";
$ionicon-ellipsis-vertical: "\e99a";
$ionicon-ellipsis-vertical-circle: "\e99b";
$ionicon-enter: "\e99c";
$ionicon-exit: "\e99d";
$ionicon-expand: "\e99e";
$ionicon-extension-puzzle: "\e99f";
$ionicon-eye: "\e9a0";
$ionicon-eyedrop: "\e9a1";
$ionicon-eye-off: "\e9a2";
$ionicon-fast-food: "\e9a3";
$ionicon-female: "\e9a4";
$ionicon-file-tray: "\e9a5";
$ionicon-file-tray-full: "\e9a6";
$ionicon-file-tray-stacked: "\e9a7";
$ionicon-film: "\e9a8";
$ionicon-filter: "\e9a9";
$ionicon-filter-circle: "\e9aa";
$ionicon-finger-print: "\e9ab";
$ionicon-fish: "\e9ac";
$ionicon-fitness: "\e9ad";
$ionicon-flag: "\e9ae";
$ionicon-flame: "\e9af";
$ionicon-flash: "\e9b0";
$ionicon-flashlight: "\e9b1";
$ionicon-flash-off: "\e9b2";
$ionicon-flask: "\e9b3";
$ionicon-flower: "\e9b4";
$ionicon-folder: "\e9b5";
$ionicon-folder-open: "\e9b6";
$ionicon-football: "\e9b7";
$ionicon-footsteps: "\e9b8";
$ionicon-funnel: "\e9b9";
$ionicon-game-controller: "\e9ba";
$ionicon-gift: "\e9bb";
$ionicon-git-branch: "\e9bc";
$ionicon-git-commit: "\e9bd";
$ionicon-git-compare: "\e9be";
$ionicon-git-merge: "\e9bf";
$ionicon-git-network: "\e9c0";
$ionicon-git-pull-request: "\e9c1";
$ionicon-glasses: "\e9c2";
$ionicon-globe: "\e9c3";
$ionicon-golf: "\e9c4";
$ionicon-grid: "\e9c5";
$ionicon-hammer: "\e9c6";
$ionicon-hand-left: "\e9c7";
$ionicon-hand-right: "\e9c8";
$ionicon-happy: "\e9c9";
$ionicon-hardware-chip: "\e9ca";
$ionicon-headset: "\e9cb";
$ionicon-heart: "\e9cc";
$ionicon-heart-circle: "\e9cd";
$ionicon-heart-dislike: "\e9ce";
$ionicon-heart-dislike-circle: "\e9cf";
$ionicon-heart-half: "\e9d0";
$ionicon-help: "\e9d1";
$ionicon-help-buoy: "\e9d2";
$ionicon-help-circle: "\e9d3";
$ionicon-home: "\e9d4";
$ionicon-hourglass: "\e9d5";
$ionicon-ice-cream: "\e9d6";
$ionicon-id-card: "\e9d7";
$ionicon-image: "\e9d8";
$ionicon-images: "\e9d9";
$ionicon-infinite: "\e9da";
$ionicon-information: "\e9db";
$ionicon-information-circle: "\e9dc";
$ionicon-invert-mode: "\e9dd";
$ionicon-journal: "\e9de";
$ionicon-key: "\e9df";
$ionicon-keypad: "\e9e0";
$ionicon-language: "\e9e1";
$ionicon-laptop: "\e9e2";
$ionicon-layers: "\e9e3";
$ionicon-leaf: "\e9e4";
$ionicon-library: "\e9e5";
$ionicon-link: "\e9e6";
$ionicon-list: "\e9e7";
$ionicon-list-circle: "\e9e8";
$ionicon-locate: "\e9e9";
$ionicon-location: "\e9ea";
$ionicon-lock-closed: "\e9eb";
$ionicon-lock-open: "\e9ec";
$ionicon-log-in: "\e9ed";
$ionicon-logo-alipay: "\e9ee";
$ionicon-logo-amazon: "\e9ef";
$ionicon-logo-amplify: "\e9f0";
$ionicon-logo-android: "\e9f1";
$ionicon-logo-angular: "\e9f2";
$ionicon-logo-apple: "\e9f3";
$ionicon-logo-apple-appstore: "\e9f4";
$ionicon-logo-apple-ar: "\e9f5";
$ionicon-logo-behance: "\e9f6";
$ionicon-logo-bitbucket: "\e9f7";
$ionicon-logo-bitcoin: "\e9f8";
$ionicon-logo-buffer: "\e9f9";
$ionicon-logo-capacitor: "\e9fa";
$ionicon-logo-chrome: "\e9fb";
$ionicon-logo-closed-captioning: "\e9fc";
$ionicon-logo-codepen: "\e9fd";
$ionicon-logo-css3: "\e9fe";
$ionicon-logo-designernews: "\e9ff";
$ionicon-logo-deviantart: "\ea00";
$ionicon-logo-discord: "\ea01";
$ionicon-logo-docker: "\ea02";
$ionicon-logo-dribbble: "\ea03";
$ionicon-logo-dropbox: "\ea04";
$ionicon-logo-edge: "\ea05";
$ionicon-logo-electron: "\ea06";
$ionicon-logo-euro: "\ea07";
$ionicon-logo-facebook: "\ea08";
$ionicon-logo-figma: "\ea09";
$ionicon-logo-firebase: "\ea0a";
$ionicon-logo-firefox: "\ea0b";
$ionicon-logo-flickr: "\ea0c";
$ionicon-logo-foursquare: "\ea0d";
$ionicon-logo-github: "\ea0e";
$ionicon-logo-gitlab: "\ea0f";
$ionicon-logo-google: "\ea10";
$ionicon-logo-google-playstore: "\ea11";
$ionicon-logo-hackernews: "\ea12";
$ionicon-logo-html5: "\ea13";
$ionicon-logo-instagram: "\ea14";
$ionicon-logo-ionic: "\ea15";
$ionicon-logo-ionitron: "\ea16";
$ionicon-logo-javascript: "\ea17";
$ionicon-logo-laravel: "\ea18";
$ionicon-logo-linkedin: "\ea19";
$ionicon-logo-markdown: "\ea1a";
$ionicon-logo-mastodon: "\ea1b";
$ionicon-logo-medium: "\ea1c";
$ionicon-logo-microsoft: "\ea1d";
$ionicon-logo-nodejs: "\ea1e";
$ionicon-logo-no-smoking: "\ea1f";
$ionicon-logo-npm: "\ea20";
$ionicon-logo-octocat: "\ea21";
$ionicon-logo-paypal: "\ea22";
$ionicon-logo-pinterest: "\ea23";
$ionicon-logo-playstation: "\ea24";
$ionicon-logo-pwa: "\ea25";
$ionicon-logo-python: "\ea26";
$ionicon-logo-react: "\ea27";
$ionicon-logo-reddit: "\ea28";
$ionicon-logo-rss: "\ea29";
$ionicon-logo-sass: "\ea2a";
$ionicon-logo-skype: "\ea2b";
$ionicon-logo-slack: "\ea2c";
$ionicon-logo-snapchat: "\ea2d";
$ionicon-logo-soundcloud: "\ea2e";
$ionicon-logo-stackoverflow: "\ea2f";
$ionicon-logo-steam: "\ea30";
$ionicon-logo-stencil: "\ea31";
$ionicon-logo-tableau: "\ea32";
$ionicon-logo-tiktok: "\ea33";
$ionicon-logo-tumblr: "\ea34";
$ionicon-logo-tux: "\ea35";
$ionicon-logo-twitch: "\ea36";
$ionicon-logo-twitter: "\ea37";
$ionicon-logo-usd: "\ea38";
$ionicon-log-out: "\ea39";
$ionicon-logo-venmo: "\ea3a";
$ionicon-logo-vercel: "\ea3b";
$ionicon-logo-vimeo: "\ea3c";
$ionicon-logo-vk: "\ea3d";
$ionicon-logo-vue: "\ea3e";
$ionicon-logo-web-component: "\ea3f";
$ionicon-logo-wechat: "\ea40";
$ionicon-logo-whatsapp: "\ea41";
$ionicon-logo-windows: "\ea42";
$ionicon-logo-wordpress: "\ea43";
$ionicon-logo-xbox: "\ea44";
$ionicon-logo-xing: "\ea45";
$ionicon-logo-yahoo: "\ea46";
$ionicon-logo-yen: "\ea47";
$ionicon-logo-youtube: "\ea48";
$ionicon-magnet: "\ea49";
$ionicon-mail: "\ea4a";
$ionicon-mail-open: "\ea4b";
$ionicon-mail-unread: "\ea4c";
$ionicon-male: "\ea4d";
$ionicon-male-female: "\ea4e";
$ionicon-man: "\ea4f";
$ionicon-map: "\ea50";
$ionicon-medal: "\ea51";
$ionicon-medical: "\ea52";
$ionicon-medkit: "\ea53";
$ionicon-megaphone: "\ea54";
$ionicon-menu: "\ea55";
$ionicon-mic: "\ea56";
$ionicon-mic-circle: "\ea57";
$ionicon-mic-off: "\ea58";
$ionicon-mic-off-circle: "\ea59";
$ionicon-moon: "\ea5a";
$ionicon-move: "\ea5b";
$ionicon-musical-note: "\ea5c";
$ionicon-musical-notes: "\ea5d";
$ionicon-navigate: "\ea5e";
$ionicon-navigate-circle: "\ea5f";
$ionicon-newspaper: "\ea60";
$ionicon-notifications: "\ea61";
$ionicon-notifications-circle: "\ea62";
$ionicon-notifications-off: "\ea63";
$ionicon-notifications-off-circle: "\ea64";
$ionicon-nuclear: "\ea65";
$ionicon-nutrition: "\ea66";
$ionicon-open: "\ea67";
$ionicon-options: "\ea68";
$ionicon-paper-plane: "\ea69";
$ionicon-partly-sunny: "\ea6a";
$ionicon-pause: "\ea6b";
$ionicon-pause-circle: "\ea6c";
$ionicon-paw: "\ea6d";
$ionicon-pencil: "\ea6e";
$ionicon-people: "\ea6f";
$ionicon-people-circle: "\ea70";
$ionicon-person: "\ea71";
$ionicon-person-add: "\ea72";
$ionicon-person-circle: "\ea73";
$ionicon-person-remove: "\ea74";
$ionicon-phone-landscape: "\ea75";
$ionicon-phone-portrait: "\ea76";
$ionicon-pie-chart: "\ea77";
$ionicon-pin: "\ea78";
$ionicon-pint: "\ea79";
$ionicon-pizza: "\ea7a";
$ionicon-planet: "\ea7b";
$ionicon-play: "\ea7c";
$ionicon-play-back: "\ea7d";
$ionicon-play-back-circle: "\ea7e";
$ionicon-play-circle: "\ea7f";
$ionicon-play-forward: "\ea80";
$ionicon-play-forward-circle: "\ea81";
$ionicon-play-skip-back: "\ea82";
$ionicon-play-skip-back-circle: "\ea83";
$ionicon-play-skip-forward: "\ea84";
$ionicon-play-skip-forward-circle: "\ea85";
$ionicon-podium: "\ea86";
$ionicon-power: "\ea87";
$ionicon-pricetag: "\ea88";
$ionicon-pricetags: "\ea89";
$ionicon-print: "\ea8a";
$ionicon-prism: "\ea8b";
$ionicon-pulse: "\ea8c";
$ionicon-push: "\ea8d";
$ionicon-qr-code: "\ea8e";
$ionicon-radio: "\ea8f";
$ionicon-radio-button-off: "\ea90";
$ionicon-radio-button-on: "\ea91";
$ionicon-rainy: "\ea92";
$ionicon-reader: "\ea93";
$ionicon-receipt: "\ea94";
$ionicon-recording: "\ea95";
$ionicon-refresh: "\ea96";
$ionicon-refresh-circle: "\ea97";
$ionicon-reload: "\ea98";
$ionicon-reload-circle: "\ea99";
$ionicon-remove: "\ea9a";
$ionicon-remove-circle: "\ea9b";
$ionicon-reorder-four: "\ea9c";
$ionicon-reorder-three: "\ea9d";
$ionicon-reorder-two: "\ea9e";
$ionicon-repeat: "\ea9f";
$ionicon-resize: "\eaa0";
$ionicon-restaurant: "\eaa1";
$ionicon-return-down-back: "\eaa2";
$ionicon-return-down-forward: "\eaa3";
$ionicon-return-up-back: "\eaa4";
$ionicon-return-up-forward: "\eaa5";
$ionicon-ribbon: "\eaa6";
$ionicon-rocket: "\eaa7";
$ionicon-rose: "\eaa8";
$ionicon-sad: "\eaa9";
$ionicon-save: "\eaaa";
$ionicon-scale: "\eaab";
$ionicon-scan: "\eaac";
$ionicon-scan-circle: "\eaad";
$ionicon-school: "\eaae";
$ionicon-search: "\eaaf";
$ionicon-search-circle: "\eab0";
$ionicon-send: "\eab1";
$ionicon-server: "\eab2";
$ionicon-settings: "\eab3";
$ionicon-shapes: "\eab4";
$ionicon-share: "\eab5";
$ionicon-share-social: "\eab6";
$ionicon-shield: "\eab7";
$ionicon-shield-checkmark: "\eab8";
$ionicon-shield-half: "\eab9";
$ionicon-shirt: "\eaba";
$ionicon-shuffle: "\eabb";
$ionicon-skull: "\eabc";
$ionicon-snow: "\eabd";
$ionicon-sparkles: "\eabe";
$ionicon-speedometer: "\eabf";
$ionicon-square: "\eac0";
$ionicon-star: "\eac1";
$ionicon-star-half: "\eac2";
$ionicon-stats-chart: "\eac3";
$ionicon-stop: "\eac4";
$ionicon-stop-circle: "\eac5";
$ionicon-stopwatch: "\eac6";
$ionicon-storefront: "\eac7";
$ionicon-subway: "\eac8";
$ionicon-sunny: "\eac9";
$ionicon-swap-horizontal: "\eaca";
$ionicon-swap-vertical: "\eacb";
$ionicon-sync: "\eacc";
$ionicon-sync-circle: "\eacd";
$ionicon-tablet-landscape: "\eace";
$ionicon-tablet-portrait: "\eacf";
$ionicon-telescope: "\ead0";
$ionicon-tennisball: "\ead1";
$ionicon-terminal: "\ead2";
$ionicon-text: "\ead3";
$ionicon-thermometer: "\ead4";
$ionicon-thumbs-down: "\ead5";
$ionicon-thumbs-up: "\ead6";
$ionicon-thunderstorm: "\ead7";
$ionicon-ticket: "\ead8";
$ionicon-time: "\ead9";
$ionicon-timer: "\eada";
$ionicon-today: "\eadb";
$ionicon-toggle: "\eadc";
$ionicon-trail-sign: "\eadd";
$ionicon-train: "\eade";
$ionicon-transgender: "\eadf";
$ionicon-trash: "\eae0";
$ionicon-trash-bin: "\eae1";
$ionicon-trending-down: "\eae2";
$ionicon-trending-up: "\eae3";
$ionicon-triangle: "\eae4";
$ionicon-trophy: "\eae5";
$ionicon-tv: "\eae6";
$ionicon-umbrella: "\eae7";
$ionicon-unlink: "\eae8";
$ionicon-videocam: "\eae9";
$ionicon-videocam-off: "\eaea";
$ionicon-volume-high: "\eaeb";
$ionicon-volume-low: "\eaec";
$ionicon-volume-medium: "\eaed";
$ionicon-volume-mute: "\eaee";
$ionicon-volume-off: "\eaef";
$ionicon-walk: "\eaf0";
$ionicon-wallet: "\eaf1";
$ionicon-warning: "\eaf2";
$ionicon-watch: "\eaf3";
$ionicon-water: "\eaf4";
$ionicon-wifi: "\eaf5";
$ionicon-wine: "\eaf6";
$ionicon-woman: "\eaf7";

